{% extends 'default_bootstrap_admin.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="form-group">
                <a href="/admin/roles" class="btn btn-default" role="button"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back</a>
            </div>
        </div>
    </div>

    {{ form_start(form) }}
    <div class="row">
        <div class="col-sm-6 col-md-6">
            {{ form_row(form.rolename_canonical) }}
            {{ form_row(form.rolename) }}
            {{ form_row(form.role_description) }}
            {{ form_row(form.role_permissions) }}

            {{ form_row(form.save) }}
        </div>

    </div>

    {{ form_end(form) }}

    <div id="role_slug">{% if role_data.rolename_canonical %}{{ role_data.rolename_canonical }}{% endif %}</div>

    {% if role_data.rolename_canonical %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3><span class="glyphicon glyphicon-heart" style="font-size: 2.0rem;" aria-hidden="true"></span> Users With Role</h3>
        </div>
        <div class="panel-body">
            <table id="browse_users" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th class="text-center">Username</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">Enabled</th>
                    <th class="text-center">Stakeholder</th>
                    <th class="text-center">Project</th>
                    <th class="text-center">Roles</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    {% endif %}

{% endblock %}

{% block js_bottom %}
    {{ parent() }}
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.colVis.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {

        var role_slug = $("#role_slug").html();
        if(role_slug.length) {
          $('#browse_users').dataTable( {
            "columns": [
              { "data": "username" },
              { "data": "email" },
              { "data": "enabled" },
              { "data": "stakeholder" },
              { "data": "project" },
              { "data": "roles" }
            ],
            "dom": 'lfip<"datatables_bulk_actions">tip',
            "pagingType": "simple_numbers",
            "stateSave": true,
            "order": [[2,"desc"]],
            // Show processing throbber.
            "processing": true,
            // All data management will be done on the server side.
            "serverSide": true,
            // Path to the file that is going to handle the queries.
            "ajax": {
              "url": "/admin/datatables_browse_users/",
              "data": {
                "role_id": role_slug
              }
            },
            // Method type.
            "serverMethod": "POST",
            // Values in the length dropdown.
            "lengthMenu":[5,10,20,50],
            // Set some widths.
            "aoColumnDefs":[
              {"sWidth":"15%","aTargets":[2]}
              // ,{"bSortable":false,"aTargets":[0]}
            ],
            "fnRowCallback":function(nRow, aData, iDisplayIndex) {
              // // Create the checkboxes.
              // $(nRow).find('td:eq(0)').html(
              //  "<input type='checkbox' name='manage_checkbox' value='" + aData['manage'] + "' />"
              // )
              // .addClass("manage_column");
            }
          });

          // Send to details page when clicked.
          var users_details_page = "/admin/user/view/";
          $('#browse_users tbody').on('click','td',function(event){
            if(!$(this).hasClass("manage_column")){
              var user_id = $(this).closest("tr").attr('id');
              window.location.href = users_details_page + user_id;
            }
          });
        } // If this is an existing role, show the users with the role.

      });
    </script>
{% endblock %}
