{% extends 'default_bootstrap_admin.html.twig' %}

{% block content %}

  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="form-group">
        <a href="{{ app.request.headers.get('referer')|default('/admin/workspace/') }}" class="btn btn-default" role="button"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back</a>
      </div>
    </div>
  </div>

  {{ form_start(form) }} {# , {'attr': {'novalidate': 'novalidate'}} #}

    <div class="row">
      <div class="col-sm-6 col-md-6">
        {{ form_row(form.item_description) }}
        {{ form_row(form.item_guid) }}
        {{ form_row(form.local_item_id) }}
        {{ form_row(form.item_type) }}
      </div>
      <div class="col-sm-6 col-md-6">
        <fieldset>
          <legend>API Delivery Integration</legend>
          {{ form_row(form.api_publication_picker) }}
          {{ form_row(form.model_purpose_picker) }}
          <h4>API Model Resolution Restrictions</h4>
          {{ form_row(form.api_access_model_face_count_id) }}
          {{ form_row(form.api_access_uv_map_size_id) }}
        </fieldset>
      </div>
    </div>

    <div class="field-group" style="clear:both;">
      {{ form_row(form.save) }}
    </div>

  {{ form_end(form) }}

{% endblock %}
