{% extends 'base.html.twig' %}

{% block body %}
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">

            {% include 'default/banner.html.twig' %}

            <div class="inner">
              <!--<h3 class="masthead-brand"></h3>-->
                {% if database_error %}
                    <div class="alert alert-danger">
                        {{ database_error }}
                    </div>
                {% endif %}
              <nav>
                
                <ul class="nav masthead-nav">
                  <li class="active"><a href="/">Home</a></li>
                  
                  {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <li><a href="/admin">Dashboard</a></li>
                    <li><a href="/logout">Logout</a></li>
                  {% else %}
                    {% if database_exists == true %}
                      <li><a href="/login">Login</a></li>
                    {% endif %}
                  {% endif %}
                  
                </ul>
                
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">{{ site_title|e }} (prototype)</h1>
            <p class="lead">UX prototype which facilitates manual and automated data entry, management, exploration, retrieval, and processing.</p>
            <p class="lead">
              {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                {% if database_exists == true %}
                  <a href="/login" class="btn btn-lg btn-default">Login</a>
                {% else %}
                  <a href="/install" class="btn btn-lg btn-default">Install</a>
                {% endif %}
              {% endif %}
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              {# {% if site_footer is not empty %}
              {% include site_footer %}
              {% endif %} #}
            </div>
          </div>

        </div>

      </div>

    </div>
{% endblock %}

{% block stylesheets %}
    <!-- Bootstrap core CSS -->
    <link href="{{ asset('lib/javascripts/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ asset('lib/css/cover.css') }}" media="screen" />
{% endblock %}

{% block javascripts %}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ asset('lib/javascripts/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('lib/javascripts/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('lib/javascripts/jquery-cookie/jquery.cookie.min.js') }}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ asset('lib/javascripts/ie10-viewport-bug-workaround.js') }}"></script>
{% endblock %}
