{% extends 'default_bootstrap_admin.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link href="{{ asset('lib/javascripts/datatables/css/dataTables.bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ asset('lib/javascripts/buttons/css/buttons.bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3><span class="glyphicon glyphicon-heart" style="font-size: 2.0rem;" aria-hidden="true"></span> Favorites/Watching</h3>
    </div>
    <div class="panel-body">
      <table id="browse_favorites" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th class="text-center">Page Title</th>
            <th class="text-center">Page Path</th>
            <th class="text-center">Date Added</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3><span class="glyphicon glyphicon-briefcase" style="font-size: 2.0rem;" aria-hidden="true"></span> Recent Projects</h3>
    </div>
    <div class="panel-body">
      <table id="browse_recent_projects" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th class="text-center">Project</th>
            <th class="text-center">Stakeholder</th>
            <th class="text-center">Subjects Count</th>
            <th class="text-center">Created</th>
            <th class="text-center">Modified</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3><span class="glyphicon glyphicon-list-alt" style="font-size: 2.0rem;" aria-hidden="true"></span> Recent Subjects</h3>
    </div>
    <div class="panel-body">
      <table id="browse_recent_subjects" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th class="text-center">Subject Name</th>
            <th class="text-center">Holding Unit Name</th>
            <th class="text-center">Items Count</th>
            <th class="text-center">Last Modified</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3><span class="glyphicon glyphicon-time" style="font-size: 2.0rem;" aria-hidden="true"></span> Recently Updated</h3>
    </div>
    <div class="panel-body">
      <p><span class="glyphicon glyphicon-time" aria-hidden="true"></span> Coming soon...</p>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3><span class="glyphicon glyphicon-cog" style="font-size: 2.0rem;" aria-hidden="true"></span> Recent Jobs</h3>
    </div>
    <div class="panel-body">
      <p><span class="glyphicon glyphicon-time" aria-hidden="true"></span> Coming soon...</p>
    </div>
  </div>

{% endblock %}

{% block js_bottom %}
  {{ parent() }}
  <script src="{{ asset('lib/javascripts/datatables/js/jquery.dataTables.min.js') }}"></script>
  <script src="{{ asset('lib/javascripts/datatables/js/dataTables.buttons.min.js') }}"></script>
  <script src="{{ asset('lib/javascripts/datatables/js/dataTables.bootstrap.min.js') }}"></script>
  <script src="{{ asset('lib/javascripts/buttons/js/buttons.bootstrap.min.js') }}"></script>
  <script src="{{ asset('lib/javascripts/buttons/js/buttons.colVis.min.js') }}"></script>
  <script type="text/javascript">
    $(document).ready(function() {

      // Favorites
      $('#browse_favorites').dataTable( {
         "columns": [
             { "data": "page_title" },
             { "data": "path" },
             { "data": "date_created" }
           ],
         "dom": 'lfip<"datatables_bulk_actions">tip',
         "pagingType": "simple_numbers",
         "stateSave": true,
         "order": [[2,"desc"]],
         // Show processing throbber.
         "processing": true,
         "serverMethod": "POST",
          // All data management will be done on the server side.
         "serverSide": true,
         // Path to the file that is going to handle the queries.
         "ajax": "/admin/get_favorites/",
         // Method type.
         "serverMethod": "POST",
         // Values in the length dropdown.
         "lengthMenu":[5,10,20,50],
         // Set some widths.
         "aoColumnDefs":[
            {"sWidth":"15%","aTargets":[2]}
            // ,{"bSortable":false,"aTargets":[0]}
         ],
         "fnRowCallback":function(nRow, aData, iDisplayIndex) {
           // // Create the checkboxes.
           // $(nRow).find('td:eq(0)').html(
           //  "<input type='checkbox' name='manage_checkbox' value='" + aData['manage'] + "' />"
           // )
           // .addClass("manage_column");
          }
       });

      // Send to details page when clicked.
      $('#browse_favorites tbody').on('click','td',function(event){
        if(!$(this).hasClass("manage_column")){
          var page_path = $(this).parent().find('td:nth-child(2)').text();
          window.location.href = page_path;
        }
      });

      // Recent projects
      $('#browse_recent_projects').dataTable( {
        "columns": [
          { "data": "project_name" },
          { "data": "stakeholder_label" },
          { "data": "subjects_count" },
          { "data": "date_created" },
          { "data": "last_modified" }
        ],
        "dom": 'lfip<"datatables_bulk_actions">tip',
        "pagingType": "simple_numbers",
        "stateSave": true,
        "order": [[4,"desc"]],
        // Show processing throbber.
        "processing": true,
        "serverMethod": "POST",
        // All data management will be done on the server side.
        "serverSide": true,
        // Path to the file that is going to handle the queries.
        "ajax": "/admin/datatables_browse_recent_projects/",
        // Method type.
        "serverMethod": "POST",
        // Values in the length dropdown.
        "lengthMenu":[5,10,20,50],
        // Set some widths.
        "aoColumnDefs":[
          {"sWidth":"10%","aTargets":[2]},
          {"bSortable":false,"aTargets":[2]}
        ],
        "fnRowCallback":function(nRow, aData, iDisplayIndex) {
          // Placeholder
        }
       });

      // Send to details page when clicked.
      var projects_details_page = "/admin/projects/subjects/";
      $('#browse_recent_projects tbody').on('click','td',function(event){
        if(!$(this).hasClass("manage_column")){
          var project_repository_id = $(this).closest("tr").attr('id');
          window.location.href = projects_details_page + project_repository_id;
        }
      });

      // Recent subjects
      $('#browse_recent_subjects').dataTable( {
         "columns": [
              { "data": "subject_name" },
              { "data": "holding_entity_guid" },
              { "data": "items_count" },
              { "data": "last_modified" }
            ],
          "dom": 'lfip<"datatables_bulk_actions">tip',
          "pagingType": "simple_numbers",
          "stateSave": true,
          "order": [[3,"desc"]],
          // Show processing throbber.
          "processing": true,
          "serverMethod": "POST",
          // All data management will be done on the server side.
          "serverSide": true,
          // Path to the file that is going to handle the queries.
          "ajax": "/admin/datatables_browse_recent_subjects/",
          // Method type.
          "serverMethod": "POST",
          // Values in the length dropdown.
          "lengthMenu":[5,10,20,50],
          // Set some widths.
          "aoColumnDefs":[
            {"sWidth":"10%","aTargets":[2]},
            {"bSortable":false,"aTargets":[2]}
          ],
          "fnRowCallback":function(nRow, aData, iDisplayIndex) {

            // // Create the checkboxes.
            // $(nRow).find('td:eq(0)').html(
            //   "<input type='checkbox' name='manage_checkbox' value='" + aData['manage'] + "' />"
            // )
            // .addClass("manage_column");

            // Send to details page when clicked.
            var subjects_details_page = "/admin/projects/items/";
            $('#browse_recent_subjects tbody').on('click','td',function(event){
              if(!$(this).hasClass("manage_column")){
                var subject_repository_id = $(this).closest("tr").attr('id');
                window.location.href = subjects_details_page + aData['project_repository_id'] + '/' + subject_repository_id;
              }
            });

          }
        });

    });
  </script>
{% endblock %}
