{% extends 'default_bootstrap_admin.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link href="{{ asset('lib/javascripts/datatables/css/dataTables.bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ asset('lib/javascripts/buttons/css/buttons.bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}

  <ol class="breadcrumb">
    <li><a href="/admin">Dashboard</a></li>
    <li class="active">Browse Projects</li>
  </ol>

  <div class="row">
    <div class="col-sm-12 col-md-12 child-data">
      <div class="panel panel-default">
        <div class="panel-body">
            <h3><span class="glyphicon glyphicon-list-alt" style="font-size: 2.0rem;" aria-hidden="true"></span> Projects</h3>
            {% if user_can_create %}
              <a href="/admin/project/add/" class="btn btn-default" role="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add a Project</a>
            {% endif %}
            <input type="hidden" id="delete-path" value="admin/project/delete" />

            <table id="browse" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th style="padding-left: 8px;"><input class="remove-records-checkbox" type="checkbox"> Remove?</th>
                    <th class="text-center">Project</th>
                    <th class="text-center">Stakeholder</th>
                    <th class="text-center">Items Count</th>
                    <th class="text-center">Created</th>
                    <th class="text-center">Modified</th>
                </tr>
                </thead>
            </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12 child-data">
      <div class="panel panel-default">
        <div class="panel-body">
            <h3><span class="glyphicon glyphicon-list-alt" style="font-size: 2.0rem;" aria-hidden="true"></span> Subjects</h3>
            {% if user_can_create %}
              <a href="/admin/subject/add" class="btn btn-default" role="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add a Subject</a>
            {% endif %}
            <input type="hidden" id="delete-path" value="admin/subject/delete" />

            <table id="browse_subjects" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th style="padding-left: 8px;"><input class="remove-records-checkbox" type="checkbox"> Remove?</th>
                    <th class="text-center">Subject Name</th>
                    <th class="text-center">Holding Unit Name</th>
                    <th class="text-center">Items Count</th>
                    <th class="text-center">Last Modified</th>
                </tr>
                </thead>
            </table>
        </div>
      </div>
  </div>
</div>

{% endblock %}

{% block js_bottom %}
  {{ parent() }}
  <script src="{{ asset('lib/javascripts/datatables/js/jquery.dataTables.min.js') }}"></script>
  <script src="{{ asset('lib/javascripts/datatables/js/dataTables.buttons.min.js') }}"></script>
  <script src="{{ asset('lib/javascripts/datatables/js/dataTables.bootstrap.min.js') }}"></script>
  <script src="{{ asset('lib/javascripts/buttons/js/buttons.bootstrap.min.js') }}"></script>
  <script src="{{ asset('lib/javascripts/buttons/js/buttons.colVis.min.js') }}"></script>
  <script type="text/javascript">
    $(document).ready(function() {

      var details_page = "/admin/project/view/";

      $('#browse').dataTable({
        "columns": [
          { "data": "manage" },
          { "data": "project_name" },
          { "data": "stakeholder_label" },
          { "data": "items_count" },
          { "data": "date_created" },
          { "data": "last_modified" }
        ],
        "dom": 'lfip<"datatables_bulk_actions">tip',
        "pagingType": "simple_numbers",
        "stateSave": true,
        "order": [[5,"desc"]],
        // Show processing throbber.
        "processing": true,
        "serverMethod": "POST",
        // All data management will be done on the server side.
        "serverSide": true,
        // Path to the file that is going to handle the queries.
        "ajax": "/admin/datatables_browse_projects",
        // Method type.
        "serverMethod": "POST",
        // Values in the length dropdown.
        "lengthMenu":[10,50,100,500],
        // Set some widths.
        "columnDefs":[
          {"sWidth":"105px","aTargets":[0]},
          {"bSortable":false,"aTargets":[0,3]}
        ],
        "fnRowCallback":function(nRow, aData, iDisplayIndex) {
          
          // This table row.
          var thisTableRow = $(nRow);

          // Create the delete record checkboxes.
          thisTableRow.find('td:eq(0)')
            .html("<input type='checkbox' name='manage_checkbox' value='" + aData['manage'] + "' />")
            .addClass("manage_column");

          // Send to details page when clicked.
          thisTableRow.find('td').click(function() {
            // This table cell.
            var thisTableCell = $(this);
            // Don't do anything if the table cell has the 'manage_column' CSS class.
            if(thisTableCell.hasClass('manage_column')) return;
            // Send to the details page.
            var project_id = thisTableCell.closest("tr").attr('id');
            window.location.href = details_page + project_id;
          });

        }
        
      });

      // Recent subjects
      $('#browse_subjects').dataTable( {
        "columns": [
          { "data": "manage" },
          { "data": "subject_name" },
          { "data": "holding_entity_guid" },
          { "data": "items_count" },
          { "data": "last_modified" }
        ],
        "dom": 'lfip<"datatables_bulk_actions">tip',
        "pagingType": "simple_numbers",
        "stateSave": true,
        "order": [[3,"desc"]],
        // Show processing throbber.
        "processing": true,
        "serverMethod": "POST",
        // All data management will be done on the server side.
        "serverSide": true,
        // Path to the file that is going to handle the queries.
        "ajax": "/admin/datatables_browse_recent_subjects/",
        // Method type.
        "serverMethod": "POST",
        // Values in the length dropdown.
        "lengthMenu":[5,10,20,50],
        // Set some widths.
        "aoColumnDefs":[
          {"sWidth":"40px","aTargets":[0,3]},
          {"sWidth":"150px","aTargets":[2]},
          {"bSortable":false,"aTargets":[0,3]}
        ],
        "fnRowCallback":function(nRow, aData, iDisplayIndex) {

          // This table row.
          var thisTableRow = $(nRow);

          // Create the delete record checkboxes.
          thisTableRow.find('td:eq(0)')
            .html("<input type='checkbox' name='manage_checkbox' value='" + aData['manage'] + "' />")
            .addClass("manage_column");

          // Send to details page when clicked.
          var subjects_details_page = "/admin/subject/view/";
          $('#browse_subjects tbody').on('click','td',function(event){
            if(!$(this).hasClass("manage_column")){
              var subject_id = $(this).closest("tr").attr('id');
              window.location.href = subjects_details_page + subject_id;
            }
          });

        }
      });

    });
  </script>
{% endblock %}