{% extends 'default_bootstrap_admin.html.twig' %}
{% use 'shared/isni_picker_modal.html.twig' %}

{% block content %}

    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="form-group">
        {% if project_data is defined and project_data.project_id is defined %}
          <a href="/admin/project/view/{{ project_data.project_id }}" class="btn btn-default" role="button"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back</a>
        {% else %}
          <a href="/admin/workspace/" class="btn btn-default" role="button"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back</a>
        {% endif %}
        </div>
      </div>
    </div>

    {{ form_start(form) }}

    <div class="row">
      <div class="col-sm-6 col-md-6">
        {{ form_row(form.project_name) }}
        {{ form_row(form.api_publication_picker) }}
        {{ form_row(form.stakeholder_guid) }}
        {{ form_row(form.stakeholder_label) }}
        {{ form_row(form.stakeholder_guid_picker) }}

        <div class="form-group">
          <div class="controls stakeholder-container">
            <label class="control-label hidden" for="external_stakeholder">External Stakeholder</label>
            <div id="stakeholder-display">
              {% if project_data.stakeholder_label is not empty %}
                {{ project_data.stakeholder_label }}<br>
                ISNI ID: <a href="http://www.isni.org/{{ project_data.stakeholder_guid }}" title="View full record (opens in a new tab/window)" target="_blank">{{ project_data.stakeholder_guid }}</a>
              {% endif %}
            </div>
            <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#isniSearchModal">
              Choose a Stakeholder from ISNI
            </button>
          </div>
        </div>

        {{ form_row(form.save) }}
      </div>

      <div class="col-sm-6 col-md-6">
        {{ form_row(form.project_description) }}
      </div>
    </div>

    {{ form_end(form) }}

    <!-- ISNI Picker modal -->
    {% block isni_picker_modal %}{{ parent() }}{% endblock %}

{% endblock %}

{% block js_bottom %}
  {{ parent() }}
  <script src="{{ asset('lib/javascripts/isniPicker.js') }}"></script>
{% endblock %}