{% extends 'default_bootstrap_admin.html.twig' %}

{% block content %}
    
    {% if errors %}
      <div class="alert alert-danger">
        <h4>Form Errors</h4>
        {% for single_error in errors %}
        <p>{{ single_error }}</p>
        {% endfor %}
      </div>
    {% endif %}

    <form id="project_form" method="POST">
      {#% include 'csrf_input.html' %#}
      <!-- row -->
      <div class="row">
        
        <div class="col-sm-12 col-md-12">
          <div class="form-group">
          {% if project_info is defined and project_info.projects_id is defined %}
            <a href="/admin/projects/subjects/{{ project_info.projects_id }}" class="btn btn-default" role="button"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back</a>
          {% else %}
            <a href="/admin/workspace/" class="btn btn-default" role="button"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back</a>
          {% endif %}
          </div>
        </div>

        <!-- column 1 -->
        <div class="col-sm-6 col-md-6">
          <div class="form-group">
            <label class="control-label" for="projects_label"><span style="color:red;">*</span>Project Name:</label>
            <div class="controls">
              <p><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> <em>255 character limit</em></p>
              <input name="projects_label" id="projects_label" type="text" required="true" value="{{ project_info.projects_label|default('')|e }}" class="form-control">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label" for="stakeholder_guid">Stakeholder</label>
            <div class="controls">
              <select class="stakeholder-chosen-select" id="stakeholder_guid_chosen" name="stakeholder_guid_chosen" required="true">
                <option value="0">Select SI Unit</option>
                  {% for single_units_stakeholders in project_info.units_stakeholders %}
                    {% set selected = '' %}
                    {% if project_info.stakeholder_si_guid is defined and single_units_stakeholders.unit_stakeholder_id == project_info.stakeholder_si_guid %}
                      {% set selected = ' selected="selected"' %}
                    {% endif %}
                    <option value="{{ single_units_stakeholders.unit_stakeholder_id }}"{{ selected }}>{{ single_units_stakeholders.unit_stakeholder_label }} - {{ single_units_stakeholders.unit_stakeholder_full_name }}</option>
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="form-group">
            <div class="controls stakeholder-container">
              <label class="control-label hidden" for="external_stakeholder">External Stakeholder</label>
              <div id="stakeholder-display">
                {% if project_info.stakeholder_label is not empty %}
                  {{ project_info.stakeholder_label }}<br>
                  ISNI ID: <a href="http://www.isni.org/{{ project_info.stakeholder_guid }}" title="View full record (opens in a new tab/window)" target="_blank">{{ project_info.stakeholder_guid }}</a>
                {% endif %}
              </div>
              <input name="stakeholder_label" id="stakeholder_label" type="hidden" value="{{ project_info.stakeholder_label|default('')|e }}">
              <input name="stakeholder_guid_picker" id="stakeholder_guid_picker" type="hidden" value="{{ project_info.stakeholder_guid|default('')|e }}">
              <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#isniSearchModal">
                Choose a Stakeholder from ISNI
              </button>
            </div>
          </div>
        </div><!-- // column 1 -->
          
        <!-- column 2 -->
        <div class="col-sm-6 col-md-6">
          
          <div class="form-group">
            <label class="control-label" for="project_description"><span style="color:red;">*</span>Project Description:</label>
            <div class="controls">
              <textarea name="project_description" id="project_description" class="form-control" rows="8">{{ project_info.project_description|default('')|e }}</textarea>
            </div>
          </div>

        </div><!-- // column 2 -->

      </div> <!-- // row -->

      <div class="field-group" style="clear:both;">
        <input class="btn btn-primary" type="submit" value="Save Edits">
      </div>
    </form>

    <!-- Modal -->
    <div class="modal fade" id="isniSearchModal" tabindex="-1" role="dialog" aria-labelledby="isniSearchLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="isniSearchLabel">Coose a Stakeholder</h4>
          </div>
          <div class="modal-body">

            <div class="row" style="margin-right: 0; margin-left: 0;">

              <div class="col-sm-12 col-md-12">
                <h4>Search ISNI</h4>
                <div class="form-group panel panel-default">
                  <div class="panel-body">

                    <div class="row">
                      <div class="col-sm-10 col-md-10">
                        <label class="control-label hidden" for="searchQuery">Search</label>
                        <div class="controls">
                          <input name="searchQuery" id="search-query" type="text" value="" class="form-control">
                        </div>
                      </div>
                      <div class="col-sm-2 col-md-2">
                        <div class="controls">
                          <button type="button" id="search-query-button" class="btn btn-default">Search</button>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <p>Search ISNI and select the desired name to serve as the label. Once a label has been assigned to an 
                  ISNI record, it will become the associated label from this point forward.</p>
              </div>

            </div>

            <div class="row" style="margin-right: 0; margin-left: 0;">
              <div id="search-results" class="col-sm-12 col-md-12">

              </div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="save-changes">Save changes</button>
          </div>
        </div>
      </div>
    </div>

{% endblock %}

{% block js_bottom %}
  {{ parent() }}
  <script type="text/javascript">
    jQuery(document).ready(function($) {

      // Set variables.
      var resultsContainer = $('#search-results')
          loadingGif = $('<img />').attr('src', '/lib/images/spinner.gif').attr('alt', 'loading animation').attr('style', 'width: 140px;'),
          loadingGifContainer = $('<div />').addClass('center-block').attr('style', 'width: 140px;').append(loadingGif);

      // Search ISNI button click handler.
      $('#search-query-button').on('click', function(e) {

        var searchQuery = $('#search-query').val();

        // Validate - search query.
        if(!searchQuery.length) {
          swal({
            title: "Search Term is Empty",
            text: "Please enter a search term.",
          });
          return;
        }

        // Remove previous search results and search value, if present.
        resultsContainer.empty();
        // Add the loading gif.
        resultsContainer.append(loadingGifContainer);

        // Make an AJAX request to the ISNI endpoint.
        // Example: http://127.0.0.1:8000/admin/isni/NASM/1/50
        $.ajax({
          type: 'GET'
          ,dataType: 'json'
          ,url: '/admin/isni/' + searchQuery + '/1/50'
          ,success: function(result) {

            if(result) {

              // Remove the loading gif.
              loadingGifContainer.remove();

              // Populate the search results.
              for (var key in result) {

                var isniIdHeader = $('<h4 />').text('ISNI ID'),
                    isniId = $('<a />')
                        .attr('href','http://www.isni.org/' + result[key].isniId)
                        .attr('title','View full record (opens in a new tab/window)')
                        .attr('target','_blank')
                        .text(result[key].isniId),
                    isniOrgTypeHeader = $('<h4 />').text('Organization Type'),
                    isniOrgTypeContainer = $('<div />').text(result[key].organisationType),
                    isniLabelsHeader = $('<h4 />').text('Organization Names'),
                    isniLabelsContainer = buildLabelRadioButtons(result[key].isniId, result[key].organisationName),
                    containerDivLeft = $('<div />')
                        .attr('id', result[key].isniId)
                        .addClass('col-sm-10 col-md-10 well')
                        .append(isniLabelsHeader, isniLabelsContainer, isniOrgTypeHeader, isniOrgTypeContainer, isniIdHeader, isniId),
                    radioButton = $('<input class="isni-chosen" name="isni_chosen" type="radio" value="' + result[key].isniId + '">'),
                    radioButtonIcon = $('<i />').addClass('glyphicon hidden')
                        .on('click', function() {
                            var thisCheckboxIcon = $(this);
                            $('.isni-picker i').removeClass('glyphicon-check').addClass('hidden');
                            thisCheckboxIcon.removeClass('hidden').addClass('glyphicon-check');
                            $('.well').removeAttr('style');
                            thisCheckboxIcon.parent().parent().parent().find('.well').attr('style', 'border-color: #3797fc;');
                            thisCheckboxIcon.parent().parent().find('.isni-chosen').trigger('click');
                      }),
                    radioButtonIconHeader = $('<h3 />').addClass('isni-picker').append(radioButtonIcon),
                    containerDivRight = $('<div />').addClass('col-sm-2 col-md-2').append(radioButton, radioButtonIconHeader),
                    containerDivRow = $('<div />').addClass('row').append(containerDivLeft, containerDivRight);

                resultsContainer.append(containerDivRow);

              }
            
            }

          }
        });

      });

      // Save the stakeholder data (populate the display area and hidden fields in the parent form).
      $('#save-changes').on('click', function(){

        // Set all of the variables.
        var chosenIsniGuid = $("input:radio[name='isni_chosen']:checked").val(),
            chosenIsniLabel = $("input:radio[name='" + chosenIsniGuid + "']:checked").val(),
            chosenSiGuid = $('#stakeholder_guid_picker').val(),
            isniValuePresent = (typeof chosenIsniGuid !== 'undefined') ? true : false,
            isniLabelPresent = (typeof chosenIsniLabel !== 'undefined') ? true : false,
            isniInfo = 'ISNI ID: <a href="http://www.isni.org/' + chosenIsniGuid + '" title="View full record (opens in a new tab/window)" target="_blank">' + chosenIsniGuid + '</a>',
            displayText = chosenIsniLabel + '<br> ' + isniInfo;

        // Validation - ISNI record
        if(!isniValuePresent) {
          swal('ISNI Choice is Empty', 'Please choose an ISNI record.');
          return;
        }
        // Validation - ISNI label
        if(!isniLabelPresent) {
          swal('ISNI Organization Name Label is Empty', 'Even though an ISNI record has been chosen, a name label must also be chosen.');
          return;
        }

        // Populate the display area and hidden fields in the parent form.
        if(isniValuePresent) {
          $('#stakeholder_label').val(chosenIsniLabel);
          $('#stakeholder_guid_picker').val(chosenIsniGuid);
          $('#stakeholder-display').empty().append(displayText);
          $('#isniSearchModal').modal('hide');
        }

      });

      // ISNI radio buttons click handler
      $('#isniSearchModal').on('click', '.isni-label', function(){
        var thisCheckboxContainer = $(this).parent().parent().parent().parent().find('.isni-picker');
            thisCheckboxIcon = thisCheckboxContainer.find('i');
        $('.isni-label').prop('checked', false);
        $(this).prop('checked', true);
        $('.isni-picker i').removeClass('glyphicon-check').addClass('hidden');
        thisCheckboxIcon.removeClass('hidden').addClass('glyphicon-check');
        $('.well').removeAttr('style');
        thisCheckboxIcon.parent().parent().parent().find('.well').attr('style', 'border-color: #3797fc;');
        thisCheckboxIcon.parent().parent().find('.isni-chosen').trigger('click');
      });

      // When the modal is shown...
      $('#isniSearchModal').on('show.bs.modal', function (e){
        // Remove previous search results and search value, if present.
        resultsContainer.empty();
        $('#search-query').val('');
        // Set focus on the search input.
        setTimeout(function(){
          $('#isniSearchModal input#search-query').focus();
        }, 500);
        // Enable keyboard enter/return capability on search query submit.
        $(document).keypress(function(e) {
          if(e.which === 13) {
            if($('#search-query:focus').length) {
              $('#search-query-button').trigger('click');
            }
          }
        });

      });

      // When the modal is hidden...
      $('#isniSearchModal').on('hidden.bs.modal', function (e){
        // Remove previous search results and search value, if present.
        resultsContainer.empty();
        $('#search-query').val('');
      });

      function buildLabelRadioButtons(isniId, array) {
        // Declare the isniLabelsContainer variable.
        var isniLabelsContainer = '';
        // Loop through the ISNI names array.
        for (var key in array) {
          if(array[key].length) {
            // var checked = (parseInt(key) === 0) ? true : false;
            var radioButtonLabel = $('<label />').attr('for', isniId).attr('style', 'font-weight: normal;').text(array[key]),
                radioButtonLabelDiv = $('<div />').addClass('col-sm-10 col-md-10').append(radioButtonLabel),
                radioButton = $('<input />').attr('name', isniId).attr('type', 'radio').attr('value', array[key]).addClass('isni-label'),
                radioButtonDiv = $('<div />').addClass('col-sm-2 col-md-2').append(radioButton),
                radioButtonContainer = $('<div />').append(radioButtonLabelDiv, radioButtonDiv).html();
            // Populate the ISNI labels container.
            isniLabelsContainer += '<div class="row isni-labels">' + radioButtonContainer + '</div>';
          }
        }
        return isniLabelsContainer;
      }

    });
  </script>
{% endblock %}