{% extends 'default_bootstrap_admin.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <!-- <link href="{{ asset('lib/javascripts/EasyAutocomplete/easy-autocomplete.min.css') }}" rel="stylesheet" type="text/css" /> -->
{% endblock %}

{% block content %}
    
    {% if errors %}
      <div class="alert alert-danger">
        <h4>Form Errors</h4>
        {% for single_error in errors %}
        <p>{{ single_error }}</p>
        {% endfor %}
      </div>
    {% endif %}

    <form id="project_form" method="POST">
      {#% include 'csrf_input.html' %#}
      <!-- row -->
      <div class="row">
        
        <div class="col-sm-12 col-md-12">
          <div class="form-group">
          {% if project_info is defined and project_info.projects_id is defined %}
            <a href="/admin/projects/subjects/{{ project_info.projects_id }}" class="btn btn-default" role="button"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back</a>
          {% else %}
            <a href="/admin/workspace/" class="btn btn-default" role="button"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back</a>
          {% endif %}
          </div>
        </div>

        <!-- column 1 -->
        <div class="col-sm-6 col-md-6">
          <div class="form-group">
            <label class="control-label" for="projects_label"><span style="color:red;">*</span>Project Name:</label>
            <div class="controls">
              <p><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> <em>255 character limit</em></p>
              <input name="projects_label" id="projects_label" type="text" required="true" value="{{ project_info.projects_label|default('')|e }}" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <div class="controls">
              <h4>Stakeholder GUID</h4>
              {% if project_info.label is defined %}
                <p>{{ project_info.label }} - {{ project_info.full_name }}</p>
              {% else %}
                <p>Search ISNI choose a stakeholder</p>
              {% endif %}
              <button type="button" class="btn btn-sm" data-toggle="modal" data-target="#isniSearchModal">
                Choose a Stakeholder
              </button>
            </div>
          </div>
        </div><!-- // column 1 -->
          
        <!-- column 2 -->
        <div class="col-sm-6 col-md-6">
          
          <div class="form-group">
            <label class="control-label" for="project_description"><span style="color:red;">*</span>Project Description:</label>
            <div class="controls">
              <textarea name="project_description" id="project_description" class="form-control" rows="8">{{ project_info.project_description|default('')|e }}</textarea>
            </div>
          </div>

        </div><!-- // column 2 -->

      </div> <!-- // row -->

      <div class="field-group" style="clear:both;">
        <input class="btn btn-primary" type="submit" value="Save Edits">
      </div>
    </form>

    <!-- Modal -->
    <div class="modal fade" id="isniSearchModal" tabindex="-1" role="dialog" aria-labelledby="isniSearchLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="isniSearchLabel">Coose a Stakeholder</h4>
          </div>
          <div class="modal-body">

            <div class="row">

              <div class="col-sm-6 col-md-6">
                <h4>Search ISNI</h4>
                <div class="form-group panel panel-default">
                  <div class="panel-body">

                    <div class="row">
                      <div class="col-sm-9 col-md-9">
                        <label class="control-label hidden" for="searchQuery">Search</label>
                        <div class="controls">
                          <input name="searchQuery" id="search-query" type="text" value="" class="form-control">
                        </div>
                      </div>
                      <div class="col-sm-3 col-md-3">
                        <div class="controls">
                          <button type="button" id="search-query-button" class="btn btn-default">Search</button>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-6">
                <h4>Choose SI Unit Code</h4>
                <div class="form-group panel panel-default">
                  <div class="panel-body">
                    <label class="control-label hidden" for="stakeholder_guid"><span style="color:red;">*</span>Stakeholder GUID:</label>
                    <div class="controls">
                      <select class="stakeholder-chosen-select" id="stakeholder_guid" name="stakeholder_guid" required="true">
                        <option value="0">Select</option>
                        {% for single_units_stakeholders in project_info.units_stakeholders %}
                          {% set selected = '' %}
                          {% if project_info.stakeholder_guid is defined and single_units_stakeholders.unit_stakeholder_id == project_info.stakeholder_guid %}
                            {% set selected = ' selected="selected"' %}
                          {% endif %}
                          <option value="{{ single_units_stakeholders.unit_stakeholder_id }}"{{ selected }}>{{ single_units_stakeholders.label }} - {{ single_units_stakeholders.full_name }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div id="search-results" class="col-sm-6 col-md-6">

              </div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="save-changes">Save changes</button>
          </div>
        </div>
      </div>
    </div>

{% endblock %}

{% block js_bottom %}
  {{ parent() }}
  <!-- <script src="{{ asset('lib/javascripts/EasyAutocomplete/jquery.easy-autocomplete.js') }}"></script> -->
  <script type="text/javascript">
    jQuery(document).ready(function($) {

      var resultsContainer = $('#search-results')
          loadingGif = $('<img />').attr('src', '/lib/images/spinner.gif').attr('alt', 'loading animation').attr('style', 'width: 140px;'),
          loadingGifContainer = $('<div />').addClass('center-block').attr('style', 'width: 140px;').append(loadingGif);

      $('#search-query-button').on('click', function(e) {

        var searchQuery = $('#search-query').val();

        if(!searchQuery.length) {
          swal('Search Term is Empty', 'Please enter a search term.');
          return;
        }

        resultsContainer.empty();
        resultsContainer.append(loadingGifContainer);

        $.ajax({
          type: 'GET'
          ,dataType: 'json'
          ,url: '/admin/isni/' + searchQuery + '/1/50'
          ,success: function(result) {

            if(result) {

              loadingGifContainer.remove();

              for (var key in result) {
                var header = $('<h4 />').text('Result #' + (parseInt(key)+1)),
                    isniId = $('<p />').html('<strong>ISNI ID: </strong>' + '<a href="http://www.isni.org/' + result[key].isniId + '" title="View full record (opens in a new tab/window)" target="_blank">' + result[key].isniId + '</a>'),
                    organisationType = $('<p />').html('<strong>Organization Type: </strong>' + result[key].organisationType),
                    organisationName = $('<p />').html('<strong>Organization Name: </strong>' + JSON.stringify(result[key].organisationName)),
                    organisationNameVariant = $('<p />').html('<strong>Organization Name Variant: </strong>' + JSON.stringify(result[key].organisationNameVariant)),
                    containerDivLeft = $('<div />')
                        .attr('id', result[key].isniId)
                        .addClass('col-sm-10 col-md-10 well')
                        .append(isniId, organisationType, organisationName, organisationNameVariant),
                    radioButton = $('<input name="isni_chosen" type="radio" value="' + result[key].isniId + '">')
                        .on('click', function() {
                            $('.well').removeAttr('style');
                            $(this).parent().parent().find('.well').attr('style', 'border-color: #337ab7;');
                      }),
                    containerDivRight = $('<div />').addClass('col-sm-2 col-md-2').append(radioButton),
                    containerDivRow = $('<div />').addClass('row').append(containerDivLeft, containerDivRight);

                resultsContainer.append(containerDivRow);
              }
            
            }

          }
        });

      });

      $('#save-changes').on('click', function(){
        resultsContainer.empty();
        $('#search-query').val('');
        $('#isniSearchModal').modal('hide');
      });

      // var options = {

      //   url: function(phrase) {
      //     return "/admin/isni/" + phrase + "/1/50";
      //   },
      //   getValue: "organisationName[0]",
      //   requestDelay: 400

      // };

      // $("#searchQuery").easyAutocomplete(options);

    });
  </script>
{% endblock %}