{% extends 'default_bootstrap_admin.html.twig' %}

{% block content %}
    
    {% if errors %}
      <div class="alert alert-danger">
        <h4>Form Errors</h4>
        {% for single_error in errors %}
        <p>{{ single_error }}</p>
        {% endfor %}
      </div>
    {% endif %}

    <form id="project_form" method="POST">
      {#% include 'csrf_input.html' %#}
      <!-- row -->
      <div class="row">
        
        <div class="col-sm-12 col-md-12">
          <div class="form-group">
          {% if project_info is defined and project_info.projects_id is defined %}
            <a href="/admin/projects/subjects/{{ project_info.projects_id }}" class="btn btn-default" role="button"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back</a>
          {% else %}
            <a href="/admin/workspace/" class="btn btn-default" role="button"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back</a>
          {% endif %}
          </div>
        </div>

        <!-- column 1 -->
        <div class="col-sm-6 col-md-6">
          <div class="form-group">
            <label class="control-label" for="projects_label"><span style="color:red;">*</span>Project Name:</label>
            <div class="controls">
              <p><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> <em>255 character limit</em></p>
              <input name="projects_label" id="projects_label" type="text" required="true" value="{{ project_info.projects_label|default('')|e }}" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <div class="controls">
              <h4>Stakeholder GUID</h4>
              {% if project_info.label is defined %}
                <p>{{ project_info.label }} - {{ project_info.full_name }}</p>
              {% else %}
                <p>Search ISNI choose a stakeholder</p>
              {% endif %}
              <button type="button" class="btn btn-sm" data-toggle="modal" data-target="#isniSearchModal">
                Choose a Stakeholder
              </button>
            </div>
          </div>
        </div><!-- // column 1 -->
          
        <!-- column 2 -->
        <div class="col-sm-6 col-md-6">
          
          <div class="form-group">
            <label class="control-label" for="project_description"><span style="color:red;">*</span>Project Description:</label>
            <div class="controls">
              <textarea name="project_description" id="project_description" class="form-control" rows="8">{{ project_info.project_description|default('')|e }}</textarea>
            </div>
          </div>

        </div><!-- // column 2 -->

      </div> <!-- // row -->

      <div class="field-group" style="clear:both;">
        <input class="btn btn-primary" type="submit" value="Save Edits">
      </div>
    </form>

    <!-- Modal -->
    <div class="modal fade" id="isniSearchModal" tabindex="-1" role="dialog" aria-labelledby="isniSearchLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="isniSearchLabel">Coose a Stakeholder</h4>
          </div>
          <div class="modal-body">

            <div class="row">

              <div class="col-sm-6 col-md-6">
                <h4>Search ISNI</h4>
                <div class="form-group panel panel-default">
                  <div class="panel-body">
                    <label class="control-label hidden" for="searchQuery">Search</label>
                    <div class="controls">
                      <input name="searchQuery" id="searchQuery" type="text" value="" class="form-control">
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-6">
                <h4>Choose SI Unit Code</h4>
                <div class="form-group panel panel-default">
                  <div class="panel-body">
                    <label class="control-label hidden" for="stakeholder_guid"><span style="color:red;">*</span>Stakeholder GUID:</label>
                    <div class="controls">
                      <select class="stakeholder-chosen-select" id="stakeholder_guid" name="stakeholder_guid" required="true">
                        <option value="0">Select</option>
                        {% for single_units_stakeholders in project_info.units_stakeholders %}
                          {% set selected = '' %}
                          {% if project_info.stakeholder_guid is defined and single_units_stakeholders.unit_stakeholder_id == project_info.stakeholder_guid %}
                            {% set selected = ' selected="selected"' %}
                          {% endif %}
                          <option value="{{ single_units_stakeholders.unit_stakeholder_id }}"{{ selected }}>{{ single_units_stakeholders.label }} - {{ single_units_stakeholders.full_name }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>

{% endblock %}

{% block js_bottom %}
  {{ parent() }}
  <script type="text/javascript">
    jQuery(document).ready(function($) {
      // 
    });
  </script>
{% endblock %}