{% extends 'default_bootstrap_admin.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.bootstrap.min.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}

  <ol class="breadcrumb">
    <li><a href="/admin">Dashboard</a></li>
    <li><a href="/admin/workspace">Browse Projects</a></li>
    <li><strong>Project:</strong> <a href="/admin/projects/subjects/{{ project_repository_id }}">{{ project_data.project_name|e }}</a></li>
    <li><strong>Subject:</strong> <a href="/admin/projects/items/{{ project_repository_id }}/{{ subject_repository_id }}">{{ subject_data.subject_name|e }}</a></li>
    <li class="active"><strong>Item:</strong> {{ item_data.item_description_truncated|e }}</li>
  </ol>

  <div class="row">
    <div class="col-sm-6 col-md-6">
      <dl class="dl-horizontal">
        <dt>Item GUID</dt>
        <dd>{{ item_data.item_guid|e }}</dd>
        <dt>Local Item ID</dt>
        <dd>{{ item_data.local_item_id|e|nl2br }}</dd>
      </dl>
    </div>
    <div class="col-sm-6 col-md-6">
      <dl class="dl-horizontal">
        <dt>Last Modified</dt>
        <dd>{{ item_data.last_modified|e }}</dd>
        <dt>Item Type</dt>
        <dd>{{ item_data.item_type_label|e }}</dd>
      </dl>
    </div>
    <div class="col-sm-12 col-md-12">
      <dl class="dl-horizontal">
        <dt>Item Description</dt>
        <dd>{{ item_data.item_description|e|nl2br }}</dd>
      </dl>
      <a href="/admin/projects/items/{{ project_repository_id }}/{{ subject_repository_id }}" class="btn btn-default" role="button"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back to Subject</a>
      <a href="/admin/projects/item/{{ project_repository_id }}/{{ subject_repository_id }}/{{ item_repository_id }}" class="btn btn-default" role="button"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit Item</a>
      {% if include_directory_button %}
        <a href="/admin/projects/create_directory_in_jobbox/{{ item_data.item_guid|e }}/{{ destination }}" class="btn btn-default" role="button"><span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span> Create the Directory in JobBox</a>
      {% else %}
        <button class="btn btn-success" role="button" disabled="disabled"><span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span> Directory Exists in JobBox</button>
      {% endif %}
    </div>

    <div class="col-sm-12 col-md-12 child-data">
      <div class="panel panel-default">
        <div class="panel-body">

          <h2>Capture Datasets</h2>
          <a href="/admin/projects/dataset/{{ project_repository_id }}/{{ subject_repository_id }}/{{ item_repository_id }}" class="btn btn-default" role="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add a Capture Dataset</a>

          <table id="browse" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th style="padding-left: 8px;"><input class="remove-records-checkbox" type="checkbox"> Remove?</th>
                <th class="text-center">Download</th>
                <th class="text-center"></th>
                <th class="text-center"></th>
                <th class="text-center"></th>
                <th class="text-center"></th>
                <th class="text-center"></th>
                <th class="text-center"></th>
                <th class="text-center"></th>
                <th class="text-center"></th>
                <th class="text-center"></th>
                <th class="text-center"></th>
                <th class="text-center"></th>
                <th class="text-center"></th>
                <th class="text-center"></th>
                <th class="text-center"></th>
                <th class="text-center"></th>
                <th class="text-center"></th>
                <th class="text-center"></th>
                <th class="text-center"></th>
                <th class="text-center"></th>
                <th class="text-center"></th>
                <th class="text-center"></th>
                <th class="text-center"></th>
                <th class="text-center"></th>
              </tr>
            </thead>
          </table>

        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-12 child-data">
      <div class="panel panel-default">
        <div class="panel-body">
          <h2>Models</h2>
          <table id="browse_models" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th style="padding-left: 8px;"><input class="remove-records-checkbox" type="checkbox"> Remove?</th>
                <th class="text-center">Model Guid</th>
                <th class="text-center">Date of Creation</th>
                <th class="text-center">Model File Type</th>
                <th class="text-center">Derived From</th>
                <th class="text-center">Creation Method</th>
                <th class="text-center">Last Modified</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>

  </div> <!-- /row -->
{% endblock %}
{% block js_bottom %}
  {{ parent() }}
  <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.bootstrap.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.colVis.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {

      var project_repository_id = "{{ project_repository_id }}",
          subject_repository_id = "{{ subject_repository_id }}",
          item_repository_id = "{{ item_repository_id }}",
          details_page = "/admin/projects/dataset_elements/";

      $("#browse").dataTable({
        "columns": [
          { "data": "manage" },
          { "data": "manage" },
          { "data": "capture_dataset_guid", "title": "Capture Dataset Guid" },
          { "data": "capture_dataset_field_id", "title": "Capture Dataset Field ID" },
          { "data": "capture_method", "title": "Capture Method" },
          { "data": "capture_dataset_type", "title": "Capture Dataset Type" },
          { "data": "capture_dataset_name", "title": "Capture Dataset Name" },
          { "data": "collected_by", "title": "Collected By" },
          { "data": "date_of_capture", "title": "Date of Capture" },
          { "data": "capture_dataset_description", "title": "Capture Dataset Descriptio" },
          { "data": "collection_notes", "title": "Collection Notes" },
          { "data": "support_equipment", "title": "Support Equipment" },
          { "data": "item_position_type", "title": "Item Position Type" },
          { "data": "item_position_field_id", "title": "Item Position Field ID" },
          { "data": "item_arrangement_field_id", "title": "Item Arrangement Field ID" },
          { "data": "positionally_matched_capture_datasets", "title": "Positionally Matched Capture Datasets" },
          { "data": "focus_type", "title": "Focus Type" },
          { "data": "light_source_type", "title": "Light Source Type" },
          { "data": "background_removal_method", "title": "Background Removal Method" },
          { "data": "cluster_type", "title": "Cluster Type" },
          { "data": "cluster_geometry_field_id", "title": "Cluster Geometry Field ID" },
          { "data": "resource_capture_datasets", "title": "Resource Capture Datasets" },
          { "data": "calibration_object_used", "title": "Calibration Object Used" },
          { "data": "date_created", "title": "Date Created" },
          { "data": "last_modified", "title": "Last Modified" },
        ],
        // "dom": 'Bfrtipt',
        "dom": 'lfip<"datatables_bulk_actions"B>tip',
        "pagingType": "simple_numbers",
        "stateSave": true,
        "order": [[24,"desc"]],
        // Show processing throbber.
        "processing": true,
        "serverMethod": "POST",
        // All data management will be done on the server side.
        "serverSide": true,
        // Path to the file that is going to handle the queries.
        "ajax": "/admin/projects/datatables_browse_datasets/{{ project_repository_id }}/{{ subject_repository_id }}/{{ item_repository_id }}",
        // Method type.
        "serverMethod": "POST",
        // Values in the length dropdown.
        "lengthMenu":[10,50,100,500],
        // Set some widths.
        "columnDefs":[
          {"sWidth":"106px","aTargets":[0,1]},
          {"bSortable":false,"aTargets":[0]},
          {
            "targets": [ 2, 3, 4, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23 ],
            "visible": false,
            "searchable": true
          }
        ],
        buttons: [
          {
            extend: 'colvis',
            // collectionLayout: 'fixed two-column',
            postfixButtons: [ 'colvisRestore' ]
          }
        ],
        "fnRowCallback":function(nRow, aData, iDisplayIndex) {

          // This table row.
          var thisTableRow = $(nRow);

          // Create the delete record checkboxes.
          thisTableRow.find('td:eq(0)')
            .html("<input type='checkbox' name='manage_checkbox' value='" + aData['manage'] + "' />")
            .addClass("manage_column");

          // Create the download checkboxes.
          thisTableRow.find('td:eq(1)')
            .html("<input type='checkbox' name='download_checkbox' value='" + aData['manage'] + "' />")
            .addClass("manage_column");

          // Send to details page when clicked.
          thisTableRow.find('td').click(function() {
            // This table cell.
            var thisTableCell = $(this);
            // Don't do anything if the table cell has the 'manage_column' CSS class.
            if(thisTableCell.hasClass('manage_column')) return;
            // Send to the details page.
            var capture_dataset_repository_id = thisTableCell.closest("tr").attr('id');
            window.location.href = details_page + project_repository_id + '/' + subject_repository_id + '/' + item_repository_id + '/' + capture_dataset_repository_id;
          });

        }
      });

      var request_download_button = $('<button></button>')
        .addClass('btn btn-default glyphicon glyphicon-download-alt')
        .attr('style', 'width: 13.8rem;')
        .attr('id', 'request-download-button')
        .on('click', function(){

          var download_ids = new Array;
          $('#browse [name="download_checkbox"]:checked').each(function(){
            download_ids.push($(this).val());
          });

          if(!download_ids.length) {
            swal('No Records Selected', 'Please choose at least one record.');
            return;
          }

          if(download_ids.length > 0) {

            swal({
              title: "Send Download Request",
              text: "Send a request to download chosen assets?",
              type: "warning",
              showCancelButton: true,
              confirmButtonColor: "#DD6B55",
              confirmButtonText: "Send Request",
              closeOnConfirm: true
            },
            function(){
              // Placeholder
            });

          }
      });

      $(".datatables_bulk_actions").prepend(request_download_button);


      $('#browse_models').dataTable( {
        "columns": [
            { "data": "manage" },
            { "data": "model_guid" },
            { "data": "date_of_creation" },
            { "data": "model_file_type" },
            { "data": "derived_from" },
            { "data": "creation_method" },
            { "data": "last_modified" }
          ],
        "dom": 'lfip<"datatables_bulk_actions">tip',
        "pagingType": "simple_numbers",
        "stateSave": true,
        "order": [[6,"desc"]],
        // Show processing throbber.
        "processing": true,
        "serverMethod": "POST",
        // All data management will be done on the server side.
        "serverSide": true,
        // Path to the file that is going to handle the queries.
        "ajax": {
          "url": "/admin/projects/model/datatables_browse",
          "data": {
            "parent_id": item_repository_id,
            "parent_type": 'item'
          }
        },
        // Method type.
        "serverMethod": "POST",
        // Values in the length dropdown.
        "lengthMenu":[10,50,100,500],
        // Set some widths.
        "aoColumnDefs":[
          {"sWidth":"106px","aTargets":[0]},
          {"bSortable":false,"aTargets":[0]},
        ],
        "fnRowCallback":function(nRow, aData, iDisplayIndex) {
          
          // This table row.
          var thisTableRow = $(nRow);

          // Create the delete record checkboxes.
          thisTableRow.find('td:eq(0)')
            .html("<input type='checkbox' name='manage_checkbox' value='" + aData['manage'] + "' />")
            .addClass("manage_column");

          // Send to details page when clicked.
          thisTableRow.find('td').click(function() {
            // This table cell.
            var thisTableCell = $(this);
            // Don't do anything if the table cell has the 'manage_column' CSS class.
            if(thisTableCell.hasClass('manage_column')) return;
            // Send to the details page.
            var this_id = thisTableCell.closest("tr").attr('id');
            window.location.href = '/admin/projects/model/manage' + '/' + item_repository_id + '/' + this_id;
          });

        }
      });

      var models_add_button = $('<a />')
        .addClass('btn btn-default add-record-button')
        .attr('href', '/admin/projects/model/manage/' + item_repository_id + '?from=item')
        .html('<span class="glyphicon glyphicon-plus"></span> Add a Model');

      $('#browse_models_wrapper').find('.datatables_bulk_actions').append(models_add_button);

    });
  </script>
{% endblock %}
