{% extends 'default_bootstrap_admin.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="form-group">
        <a href="{{ app.request.headers.get('referer')|default('/admin/workspace/') }}" class="btn btn-default" role="button"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back</a>
      </div>
    </div>
  </div>

  {{ form_start(form) }} {# , {'attr': {'novalidate': 'novalidate'}} #}

    <div class="row">
      <div class="col-sm-6 col-md-6">
        {{ form_row(form.capture_method) }}
        {{ form_row(form.capture_dataset_type) }}
        {{ form_row(form.capture_dataset_name) }}
        {{ form_row(form.collected_by) }}
        {{ form_row(form.date_of_capture) }}
        {{ form_row(form.capture_dataset_description) }}
        {{ form_row(form.collection_notes) }}
        {{ form_row(form.item_position_type) }}
      </div>
      <div class="col-sm-6 col-md-6">
        {{ form_row(form.positionally_matched_capture_datasets) }}
        {{ form_row(form.focus_type) }}
        {{ form_row(form.light_source_type) }}
        {{ form_row(form.background_removal_method) }}
        {{ form_row(form.cluster_type) }}
        {{ form_row(form.cluster_geometry_field_id) }}
        {{ form_row(form.capture_dataset_guid) }}
        {{ form_row(form.capture_dataset_field_id) }}
        {{ form_row(form.support_equipment) }}
        {{ form_row(form.item_position_field_id) }}
        {{ form_row(form.item_arrangement_field_id) }}
        {{ form_row(form.resource_capture_datasets) }}
        {{ form_row(form.calibration_object_used) }}
      </div>
    </div>

    <div class="field-group" style="clear:both;">
      {{ form_row(form.save) }}
    </div>

  {{ form_end(form) }}

  

{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
  <script type="text/javascript">
    // Datepicker
    $(document).ready(function(){
      var date_input = $('input[name="dataset[date_of_capture]"]');
      var container = $('form.dataset_form').length>0 ? $('form.dataset_form').parent() : 'body';
      var options = {
        format: 'yyyy-mm-dd 00:00:00',
        container: container,
        todayHighlight: true,
        autoclose: true,
      };
      date_input.datepicker(options);
    });
  </script>
{% endblock %}