{% extends 'default_bootstrap_admin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('lib/javascripts/datepicker/css/bootstrap-datepicker3.css') }}" rel="stylesheet" type="text/css">
    {% if data.model_repository_id is defined %}
        <link href="{{ asset('lib/javascripts/Datatable/css/dataTables.bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('lib/javascripts/buttons/css/buttons.bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
    {% endif %}
{% endblock %}

{% block content %}
    <div class="alert alert-warning" role="alert">
        TODO: Provide a way to reference existing UV Maps?
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="form-group">
                <a href="{{ back_link }}" class="btn btn-default" role="button"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back</a>
            </div>
        </div>
    </div>

    {{ form_start(form) }} {# , {'attr': {'novalidate': 'novalidate'}} #}

    <div class="row">
        <div class="col-sm-6 col-md-6">
            {{ form_row(form.model_guid) }}
            {{ form_row(form.date_of_creation) }}
            {{ form_row(form.model_file_type) }}
            {{ form_row(form.derived_from) }}
            {{ form_row(form.creation_method) }}
            {{ form_row(form.model_modality) }}
            {{ form_row(form.units) }}
            <div class="well well-sm">
              {{ form_row(form.is_watertight) }}
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            {{ form_row(form.model_purpose) }}
            {{ form_row(form.point_count) }}
            <div class="well well-sm">
              {{ form_row(form.has_normals) }}
            </div>
            {{ form_row(form.face_count) }}
            {{ form_row(form.vertices_count) }}
            <div class="well well-sm">
              {{ form_row(form.has_vertex_color) }}
            </div>
            <div class="well well-sm">
              {{ form_row(form.has_uv_space) }}
            </div>
            {{ form_row(form.model_maps) }}
        </div>
    </div>

    <div class="field-group" style="clear:both;">
        {{ form_row(form.save) }}
    </div>

    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('lib/javascripts/datepicker/js/bootstrap-datepicker.min.js') }}"></script>
    <script type="text/javascript">
      // Datepicker
      $(document).ready(function(){
        var date_of_creation_input = $('input[name="model_form[date_of_creation]"]');
        var container = $('form.model_form').length > 0 ? $('form.model_form').parent() : 'body';
        var options = {
          format: 'yyyy-mm-dd 00:00:00',
          container: container,
          todayHighlight: true,
          autoclose: true,
        };
        date_of_creation_input.datepicker(options);
      });
    </script>

{% endblock %}