{% extends 'default_bootstrap_admin.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('lib/javascripts/voyager/css/normalize.css')}}">
    <link rel="stylesheet" href="{{asset('lib/javascripts/voyager/css/fontawesome.min.css')}}">
    <link rel="stylesheet" href="{{asset('lib/javascripts/voyager/css/fontawesome-solid.min.css')}}">
    <link rel="stylesheet" href="{{asset('lib/javascripts/voyager/css/voyager-explorer.css')}}">
    <style>
        .sv-carousel {
            position: absolute;
            bottom: 0;
            display: flex;
            flex-direction: row;
            display: none;
        }
        .sv-carousel img {
            display: block;
            width: 80px;
            height: 80px;
            margin: 6px 0 6px 6px;
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="main">
    </div>
    <input id="magic_url" type="hidden" value="{{ data.model_url }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/16.4.2/umd/react.production.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.4.2/umd/react-dom.production.min.js"></script>
    <script src="https://code.jquery.com/pep/0.4.3/pep.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/97/three.min.js"></script>

    <script src="{{asset('lib/javascripts/voyager/js/voyager-explorer.js')}}"></script>

    <script type="text/javascript">

      $(document).ready(function(){

        const voyager = new Voyager({ element: document.getElementById("main") });
        var model_url = $("#magic_url").val();
        //var model_url = $('body').find('#magic_url').val();
        voyager.loadGeometryAndTexture(model_url);

      });
    </script>
{% endblock %}