{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

{% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    <form action="{{ path("fos_user_security_check") }}" method="post">
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% endif %}
        <div class="form-group">
            <label for="username">{{ 'User Name'|trans }}</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="off" autofocus="autofocus" class="form-control" />
        </div>
        <div class="form-group">
            <label for="password">{{ 'Password'|trans }}</label>
            <input type="password" id="password" name="_password" required="required" autocomplete="off" class="form-control" />
        </div>
        <div class="form-group">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <label for="remember_me">{{ 'Remember Me'|trans }}</label>
        </div>

        <input type="submit" id="_submit" name="_submit" value="{{ 'Login'|trans }}" class="btn btn-primary" />
    </form>

    {% if app.request.server.get("REMOTE_ADDR") == '172.16.26.11' or '127.0.0.1' %}
        {# <div style="margin-top: 2rem;">
            <p><a href="/register">Register for an Account</a></p>
        </div> #}
    {% endif %}

{% else %}
    <p>You are logged in. <a href="/logout">Logout?</a></p>
{% endif %}
