{% extends 'default_bootstrap_admin.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.bootstrap.min.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}

  {# {{ dump() }} #}
  
  <ol class="breadcrumb">
    <li><a href="/admin">Dashboard</a></li>
    <li><a href="/admin/import">Uploads</a></li>
    <li class="active">{{ project.project_name }}</li>
  </ol>

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-6 col-md-6">
          <dl class="dl-horizontal">
            <dt>Project Name:</dt>
              <dd>{{ project.project_name }}</dd>
            <dt>Date Uploaded:</dt>
              <dd>{{ project.date_created }}</dd>
            <dt>Total # Records:</dt>
              <dd>{{ project.items_total|default('0') }}</dd>
            {% if project.job_status is defined %}
              <dt>Job Status:</dt>
                <dd>{{ project.job_status }}</dd>
            {% endif %}
          </dl>
        </div>
        <div class="col-sm-6 col-md-6">
          <dl class="dl-horizontal">
            <dt>Success #:</dt>
              <dd>{{ project.item_success|default('0') }}</dd>
            <dt>Failed #:</dt>
              <dd>{{ project.item_failed|default('0') }}</dd>
            <dt>In Progress #:</dt>
              <dd>{{ project.item_in_progress|default('0') }}</dd>
            {% if project.username is defined %}
              <dt>Uploaded By:</dt>
                <dd>{{ project.username }}</dd>
            {% endif %}
          </dl>
        </div>
      </div>
    </div>
  </div>

  <h3>Uploaded Metadata</h3>
  <table id="browse" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        {% if job_data.job_type == 'subjects metadata import' %}
          <th class="text-center">Subject</th>
          <th class="text-center">Item</th>
        {% elseif job_data.job_type == 'capture datasets metadata import' %}
          <th class="text-center">Item</th>
          <th class="text-center">Capture Dataset</th>
        {% endif %}
      </tr>
    </thead>
  </table>

  {% if project.files is defined %}
    <div class="row">
      <div class="col-sm-6 col-md-6">
        <div class="panel panel-default">
          <div class="panel-body">
            <h3>Uploaded Files</h3>
            {% if project.files %}
            <ol>
              {% for file in project.files %}
                <li>{{ file|e }}</li>
              {% endfor %}
            </ol>
            {% else %}
              <p>No files found</p>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        {% if project.job_status is defined and project.job_status != 'complete' %}
          <div class="panel panel-default">
            <div class="panel-body">
              <h3>File Validation Errors</h3>
              {% if project.job_status == 'in progress' %}
                <p class="text-info"><span class="glyphicon glyphicon-time"></span> Validation pending. Please check back shortly.</p>
              {% else %}
                <ul class="list-unstyled">
                  {% for file_validation_error in project.file_validation_errors %}
                    <li class="text-danger"><strong>{{ file_validation_error.job_log_label }}</strong>: {{ file_validation_error.job_log_description }}</li>
                  {% else %}
                    <li class="text-success"><strong>No validation errors found.</strong></li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  {% endif %}

{% endblock %}

{% block js_bottom %}
  {{ parent() }}
  <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.bootstrap.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.colVis.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {

      var id = "{{ id }}",
          job_type = "{{ job_data.job_type }}",
          columns = [],
          details_page;

      if(job_type === 'subjects metadata import') {
        columns = [
          { "data": "subject_display_name" },
          { "data": "item_display_name" }
        ];
      }

      if(job_type === 'capture datasets metadata import') {
        columns = [
          { "data": "item_display_name" },
          { "data": "capture_dataset_name" }
        ];
      }

      $('#browse').dataTable({
        "columns": columns,
        //"dom": 'lfip<"datatables_bulk_actions">tip',
        "pagingType": "simple_numbers",
        "stateSave": true,
        "order": [[0,"asc"]],
        // Show processing throbber.
        "processing": true,
        // All data management will be done on the server side.
        "serverSide": true,
        // Path to the file that is going to handle the queries.
        "ajax": "/admin/import/" + id + "/datatables_browse_import_details",
        // Method type.
        "serverMethod": "POST",
        // Values in the length dropdown.
        "lengthMenu":[10,50,100,500],
        // Set some widths.
        "columnDefs":[
          {"sWidth":"400px","aTargets":[0]}
          // {"bSortable":false,"aTargets":[0,1]}
        ],
        "fnRowCallback":function(nRow, aData, iDisplayIndex) {

          console.log(aData);

          // This table row.
          var thisTableRow = $(nRow);

          // Send to details page when clicked.
          thisTableRow.find('td').click(function() {
            // This table cell.
            var thisTableCell = $(this);
            // Don't do anything if the table cell has the 'manage_column' CSS class.
            if(thisTableCell.hasClass('manage_column')) return;
            // Send to the details page.

            if(job_type === 'subjects metadata import') {
              details_page = '/admin/projects/datasets/' + aData.project_repository_id + '/' + aData.subject_repository_id + '/' + aData.item_repository_id;
            }

            if(job_type === 'capture datasets metadata import') {
              details_page = '/admin/projects/dataset_elements/' + aData.project_repository_id + '/' + aData.subject_repository_id + '/' + aData.item_repository_id + '/' + aData.capture_dataset_repository_id;
            }

            window.location.href = details_page;
          });

        }
        
      });

    });
  </script>
{% endblock %}