{% extends 'default_bootstrap_admin.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.bootstrap.min.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
  
  <ol class="breadcrumb">
    <li><a href="/admin">Dashboard</a></li>
    <li><a href="/admin/import">Uploads</a></li>
    <li class="active">{{project.project_name}}</li>
  </ol>

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-6 col-md-6">
          <dl class="dl-horizontal">
            <dt>Project Name:</dt>
              <dd>{{ project.project_name }}</dd>
            <dt>Date Uploaded:</dt>
              <dd>{{ project.date_created }}</dd>
            <dt>Total Items #:</dt>
              <dd>{{ project.items_total|default('0') }}</dd>
          </dl>
        </div>
        <div class="col-sm-6 col-md-6">
          <dl class="dl-horizontal">
            <dt>Success #:</dt>
              <dd>{{ project.item_success|default('0') }}</dd>
            <dt>Failed #:</dt>
              <dd>{{ project.item_failed|default('0') }}</dd>
            <dt>In Progress #:</dt>
              <dd>{{ project.item_in_progress|default('0') }}</dd>
          </dl>
        </div>
      </div>
    </div>
  </div>

  <table id="browse" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th class="text-center">Subject</th>
        <th class="text-center">Item</th>
        {# <th class="text-center">Status</th> #}
      </tr>
    </thead>
  </table>

{% endblock %}

{% block js_bottom %}
  {{ parent() }}
  <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.bootstrap.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.colVis.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {

      var project_repository_id = "{{ project.project_repository_id }}",
          details_page = "/admin/projects/datasets/";

      $('#browse').dataTable({
        "columns": [
          { "data": "subject_display_name" },
          { "data": "item_display_name" }
          // { "data": "status" }
        ],
        //"dom": 'lfip<"datatables_bulk_actions">tip',
        "pagingType": "simple_numbers",
        "stateSave": true,
        "order": [[0,"asc"]],
        // Show processing throbber.
        "processing": true,
        // All data management will be done on the server side.
        "serverSide": true,
        // Path to the file that is going to handle the queries.
        "ajax": "/admin/import/" + project_repository_id + "/datatables_browse_import_details",
        // Method type.
        "serverMethod": "POST",
        // Values in the length dropdown.
        "lengthMenu":[10,50,100,500],
        // Set some widths.
        "columnDefs":[
          {"sWidth":"400px","aTargets":[0]}
          // {"bSortable":false,"aTargets":[0,1]}
        ],
        "fnRowCallback":function(nRow, aData, iDisplayIndex) {

          // This table row.
          var thisTableRow = $(nRow);

          // Send to details page when clicked.
          thisTableRow.find('td').click(function() {
            // This table cell.
            var thisTableCell = $(this);
            // Don't do anything if the table cell has the 'manage_column' CSS class.
            if(thisTableCell.hasClass('manage_column')) return;
            // Send to the details page.
            window.location.href = details_page + project_repository_id + '/' + aData.subject_repository_id + '/' + aData.item_repository_id;
          });

        }
        
      });

    });
  </script>
{% endblock %}