{% extends 'default_bootstrap_admin.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link href="{{ asset('lib/javascripts/Datatable/css/dataTables.bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ asset('lib/javascripts/buttons/css/buttons.bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}

  <ol class="breadcrumb">
    <li><a href="/admin">Dashboard</a></li>
    <li class="active">Browse Ingests</li>
  </ol>

  <!-- row -->
  <div class="row">
    <!-- column -->
    <div class="col-sm-12 col-md-12">
      <!-- nav-tabs -->
      <ul class="nav nav-tabs" id="uploadsTabs" role="tablist">
        <li role="presentation" class="active">
          <a href="#browseUploads" id="browse-tab" role="tab" data-toggle="tab" aria-controls="browse" aria-expanded="true">Browse Ingests</a>
        </li>
        <li role="presentation">
          <a href="#simpleIngest" role="tab" id="simple-ingest-tab" data-toggle="tab" aria-controls="simple-ingest">Simple Ingest</a>
        </li>
        <li role="presentation">
          <a href="#bulkIngest" role="tab" id="bulk-ingest-tab" data-toggle="tab" aria-controls="bulk-ingest">Bulk Ingest</a>
        </li>
      </ul>
      <!-- tab-content -->
      <div class="tab-content" id="uploadsTabContent" style="padding-top: 3rem;">
        <!-- tab-pane 1 -->
        <div class="tab-pane fade in active" role="tabpanel" id="browseUploads" aria-labelledby="browse-tab">
          <table id="browse" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th class="text-center">Project</th>
                <th class="text-center">Status</th>
                <th class="text-center">Total Subjects</th>
                <th class="text-center">Total Items</th>
                <th class="text-center">Total Capture Datasets</th>
                <th class="text-center">Total Models</th>
                <th class="text-center">Date Uploaded</th>
                <th class="text-center">Uploaded By</th>
              </tr>
            </thead>
          </table>
        </div>
        <!-- // tab-pane 1 -->
      </div>
      <!-- // tab-content -->
    </div>
    <!-- // column -->
  </div>
  <!-- // row -->
{% endblock %}

{% block js_bottom %}
  {{ parent() }}
  <script src="{{ asset('lib/javascripts/Datatable/js/jquery.dataTables.min.js') }}"></script>
  <script src="{{ asset('lib/javascripts/buttons/js/dataTables.buttons.min.js') }}"></script>
  <script src="{{ asset('lib/javascripts/Datatable/js/dataTables.bootstrap.min.js') }}"></script>
  <script src="{{ asset('lib/javascripts/buttons/js/buttons.bootstrap.min.js') }}"></script>
  <script src="{{ asset('lib/javascripts/buttons/js/buttons.colVis.min.js') }}"></script>
  <script type="text/javascript">
    $(document).ready(function() {

      var details_page = "/admin/projects/subjects/";
      
      var table = $('#browse').DataTable({
        "columns": [
          { "data": "project_name" },
          { "data": "job_status" },
          { "data": "subjects_total" },
          { "data": "items_total" },
          { "data": "capture_datasets_total" },
          { "data": "models_total" },
          { "data": "date_created" },
          { "data": "username" }
        ],
        //"dom": 'lfip<"datatables_bulk_actions">tip',
        "pagingType": "simple_numbers",
        "stateSave": true,
        "order": [[6,"desc"]],
        // Show processing throbber.
        "processing": true,
        // All data management will be done on the server side.
        "serverSide": true,
        // Path to the file that is going to handle the queries.
        "ajax": "/admin/ingest/datatables_browse_imports",
        // Method type.
        "serverMethod": "POST",
        // Values in the length dropdown.
        "lengthMenu":[10,50,100,500],
        "columnDefs":[
          {"sWidth":"425px","aTargets":[0]},
          {"bSortable":false,"aTargets":[0,4]}
        ],
        "fnRowCallback":function(nRow, aData, iDisplayIndex) {
          // This table row.
          var thisTableRow = $(nRow);
          // Send to details page when clicked.
          thisTableRow.find('td').click(function() {
            // This table cell.
            var thisTableCell = $(this);
            // Don't do anything if the table cell has the 'manage_column' CSS class.
            if(thisTableCell.hasClass('manage_column')) return;
            // Send to the details page.
            window.location.href = '/admin/ingest/' + aData.uuid + '/' + aData.project_id;
          });

        }
      });

      /**
       * Bulk Ingest tab click handler
       * (navigate to the Bulk Ingest page)
       */
      $('#bulk-ingest-tab').on('click', function(e) {
        window.location.href = '/admin/bulk_ingest';
      });

      /**
       * Simple Ingest tab click handler
       * (navigate to the Simple Inges page)
       */
      $('#simple-ingest-tab').on('click', function(e) {
        window.location.href = '/admin/simple_ingest';
      });

    });
  </script>
{% endblock %}