{% extends 'default_bootstrap_admin.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link href="{{ asset('lib/javascripts/node_modules/handsontable/dist/handsontable.full.min.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}

  <ol class="breadcrumb">
    <li><a href="/admin">Dashboard</a></li>
    <li class="active">Ingest</li>
  </ol>

  <!-- row -->
  <div class="row">
    <!-- column -->
    <div class="col-sm-12 col-md-12">
      <!-- nav-tabs -->
      <ul class="nav nav-tabs" id="uploadsTabs" role="tablist">
        <li role="presentation">
          <a href="#browseUploads" id="browse-tab" role="tab" data-toggle="tab" aria-controls="browse" aria-expanded="true">Browse Ingests</a>
        </li>
        <li role="presentation" class="active">
          <a href="#simpleIngest" role="tab" id="simple-ingest-tab" data-toggle="tab" aria-controls="simple-ingest">Simple Ingest</a>
        </li>
        <li role="presentation">
          <a href="#bulkIngest" role="tab" id="bulk-ingest-tab" data-toggle="tab" aria-controls="bulk-ingest">Bulk Ingest</a>
        </li>
      </ul>
      <!-- tab-content -->
      <div class="tab-content" id="uploadsTabContent" style="padding-top: 3rem;">
        <!-- // tab-pane 2 -->
        <div class="tab-pane fade in active" role="tabpanel" id="simpleIngest" aria-labelledby="simple-ingest-tab">
          <!-- row -->
          <div class="row">
            <div class="col-lg-12">
              <!-- Ingest Wizard -->
              {% include 'import/ingest_wizard.html.twig' %}
            </div>
          </div>
          <!-- // row -->

          <!-- Uploads Stage -->
          {% include 'import/uploads_stage.html.twig' %}

          <div class="row hidden" id="panel-spreadsheets">
            <div class="col-sm-12 col-md-12">
              <!-- Spreadsheets container (Handsontable) -->
            </div>
          </div>
          <!-- // row -->
        </div>
        <!-- // tab-pane 2 -->
      </div>
      <!-- // tab-content -->
    </div>
    <!-- // column -->
  </div>
  <!-- // row -->

  <!-- Uploading Modal -->
  {% include 'import/uploading_modal.html.twig' %}

{% endblock %}

{% block js_bottom %}
  {{ parent() }}
  <script type="text/javascript" src="{{ asset('lib/javascripts/dropzone.js') }}"></script>
  <script type="text/javascript" src="{{ asset('lib/javascripts/node_modules/handsontable/dist/handsontable.full.min.js') }}"></script>
  <script type="text/javascript" src="{{ asset('lib/javascripts/jquery.bootstrap.wizard.min.js') }}"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      /**
       * Bootstrap Wizard
       */
      $('#rootwizard').bootstrapWizard();

      $('#rootwizard').bootstrapWizard('disable', '1');
      $('#rootwizard').bootstrapWizard('disable', '2');
      $('#rootwizard').bootstrapWizard('disable', '3');
      $('#rootwizard').bootstrapWizard('disable', '4');

      /**
       * Browse Ingests tab click handler
       * (navigate to the Browse Ingest page)
       */
      $('#browse-tab').on('click', function(e) {
        window.location.href = '/admin/ingest';
      });

      /**
       * Bulk Ingest tab click handler
       * (navigate to the Bulk Ingest page)
       */
      $('#bulk-ingest-tab').on('click', function(e) {
        window.location.href = '/admin/bulk_ingest';
      });
    });

    var dropzoneUrl = "{{ oneup_uploader_endpoint('repository') }}",
        acceptedFiles = "{{ accepted_file_types }}";
  </script>
  <script type="text/javascript" src="{{ asset('lib/javascripts/ingest.js') }}"></script>
{% endblock %}