{% extends 'default_bootstrap_admin.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link href="{{ asset('lib/javascripts/node_modules/handsontable/dist/handsontable.full.min.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}

  <ol class="breadcrumb">
    <li><a href="/admin">Dashboard</a></li>
    <li class="active">Ingest</li>
  </ol>

  <!-- row -->
  <div class="row">
    <!-- column -->
    <div class="col-sm-12 col-md-12">
      <!-- nav-tabs -->
      <ul class="nav nav-tabs" id="uploadsTabs" role="tablist">
        <li role="presentation">
          <a href="#browseUploads" id="browse-tab" role="tab" data-toggle="tab" aria-controls="browse" aria-expanded="true">Browse Ingests</a>
        </li>
        <li role="presentation" class="active">
          <a href="#simpleIngest" role="tab" id="simple-ingest-tab" data-toggle="tab" aria-controls="simple-ingest">Simple Ingest</a>
        </li>
        <li role="presentation">
          <a href="#bulkIngest" role="tab" id="bulk-ingest-tab" data-toggle="tab" aria-controls="bulk-ingest">Bulk Ingest</a>
        </li>
      </ul>
      <!-- tab-content -->
      <div class="tab-content" id="uploadsTabContent" style="padding-top: 3rem;">
        <!-- // tab-pane 2 -->
        <div class="tab-pane fade in active" role="tabpanel" id="simpleIngest" aria-labelledby="simple-ingest-tab">
          <!-- row -->
          <div class="row">
            <div class="col-lg-12">
              Simple stuff here...
            </div>
          </div>
          <!-- // row -->





          <!-- row -->
          <div class="row">
            <!-- column 1 -->
            <div class="col-lg-6">
              <!-- File Drag and Drop zone -->
              <!-- panel -->
              <div class="panel panel-default panel-uploads" data-set-number="1" data-file-count="0">
                <div class="panel-heading">
                  <p><span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Uploads Stage</p>
                  <p class="panel-uploads-info" style="font-size: 1.3rem; font-weight: normal;">Drag and drop files onto this page.</p> <!-- or click the "Add Files" button -->
                  <p class="panel-uploads-info" style="font-size: 1.3rem; font-weight: normal;">Accepted file types: {{ accepted_file_types | e }}</p>
                  <div class="overlay-uploading hidden">
                    <span>Upload in progress...</span>
                    <img src="/lib/images/spinner-dark-background.gif" alt="loading animation" style="width: 86px;">
                  </div>
                </div>
                <!-- panel-body -->
                <div class="panel-body" style="height: 40rem; overflow: scroll; padding: 0;">
                  <!-- Template Begins -->
                  <!-- HTML heavily inspired by http://blueimp.github.io/jQuery-File-Upload/ -->
                  <div class="table table-striped" class="files" id="previews">
                    <ul class="directory-structure" style="padding-left: 0;">
                    </ul>
                    <div id="template" class="row file-row">
                      {# <div class="col-sm-7 col-md-7">
                        <div class="pull-left"><span class="name" data-dz-name></span>, <span class="size" data-dz-size></span></div>
                        <div class="pull-right"><strong class="error text-danger" data-dz-errormessage></strong></div>
                      </div>
                      <div class="col-sm-5 col-md-5">
                        <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                          <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
                        </div>
                      </div> #}
                      {# <div>
                        <button class="btn btn-primary start" style="display: none;">
                            <i class="glyphicon glyphicon-upload"></i>
                            <span>Start</span>
                        </button>
                        <button data-dz-remove class="btn btn-warning cancel" style="display: none;">
                            <i class="glyphicon glyphicon-ban-circle"></i>
                            <span>Cancel</span>
                        </button>
                        <button data-dz-remove class="btn btn-danger delete" style="display: none;">
                          <i class="glyphicon glyphicon-trash"></i>
                          <span>Delete</span>
                        </button>
                      </div> #}
                    </div>
                  </div>
                  <!-- Template Ends -->
                </div>
                <!-- // panel-body -->
              </div>
              <!-- // panel -->

            </div>
            <!-- // column 1 -->
            <!-- column 2 -->
            <div class="col-lg-6">
              <div class="panel panel-default panel-validation-results">
                <!-- Panel contents -->
                <div class="panel-heading">
                  <p><span class="glyphicon glyphicon-list" aria-hidden="true"></span> Pre-Validation Results</p>
                  <p style="font-size: 1.3rem; font-weight: normal;">To revalidate, click the "Clear Upload Stage" button and add files back to the Uploads Stage.</p>
                </div>
                <div class="panel-body">
                </div>
              </div>
            </div>
            <!-- // column 2 -->
          </div>
          <!-- // row -->
          <!-- row -->
          <div id="actions" class="row">
            <!-- column 1 -->
            <div class="col-sm-10 col-md-9 col-lg-9">
              <!-- The fileinput-button span is used to style the file input field as button -->
              {% set disabled = '' %}
              {% if (service_error) %}
                {% set disabled = ' disabled="disabled"' %}
              {% endif %}
              {% if app.user.username == 'ghalusa' or app.user.username == 'halusag' %}
              <button class="btn btn-success fileinput-button dz-clickable"{{disabled}}>
                  <i class="glyphicon glyphicon-plus"></i>
                  <span>Add Files</span>
              </button>
              {% endif %}
              <button type="reset" class="btn btn-warning cancel"{{disabled}}>
                  <i class="glyphicon glyphicon-ban-circle"></i>
                  <span>Clear Upload Stage</span>
              </button>
              <button class="btn btn-default prevalidate-trigger"{{disabled}}>
                  <i class="glyphicon glyphicon-cog"></i>
                  <span>Pre-Validate</span>
              </button>
              <button type="submit" class="btn btn-primary start hidden">
                  <i class="glyphicon glyphicon-upload"></i>
                  <span>Start Upload</span>
              </button>
              <button type="submit" class="btn btn-primary pause hidden">
                  <i class="glyphicon glyphicon-pause"></i>
                  <span>Pause</span>
              </button>
              <button type="submit" class="btn btn-primary cancel-upload hidden">
                  <i class="glyphicon glyphicon-stop"></i>
                  <span>Cancel</span>
              </button>
            </div>
            <!-- // column 1 -->
            <!-- column 2 -->
            <div class="col-sm-2 col-md-3 col-md-3">
              <!-- The global file processing state -->
              {# <span class="fileupload-process">
                <div id="total-progress" class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                  <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress=""></div>
                </div>
              </span> #}
            </div>
            <!-- // column 2 -->
          </div>
          <div class="row hidden" id="panel-spreadsheets">
            <div class="col-sm-12 col-md-12">
              <!-- Spreadsheets container (Handsontable) -->
            </div>
          </div>
          <!-- // row -->





        </div>
        <!-- // tab-pane 2 -->
      </div>
      <!-- // tab-content -->
    </div>
    <!-- // column -->
  </div>
  <!-- // row -->

  <!-- Record Picker Modal -->
  <div class="modal fade" id="record-picker-modal" tabindex="-1" role="dialog" aria-labelledby="recordPickerLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="recordPickerLabel"><i class="glyphicon glyphicon-time"></i> <span id="record-picker-modal-title"></span></h2>
        </div>
        <div class="modal-body" style="min-height: 24rem;">
          <div class="text-center">
            <span id="record-picker-modal-message"></span>
          </div>
          <div class="center-block" style="width: 140px; margin-top: 3rem;">
            <img src="/lib/images/spinner.gif" alt="loading animation" style="width: 140px;">
          </div>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block js_bottom %}
  {{ parent() }}
  <script type="text/javascript" src="{{ asset('lib/javascripts/dropzone.js') }}"></script>
  <script type="text/javascript" src="{{ asset('lib/javascripts/node_modules/handsontable/dist/handsontable.full.min.js') }}"></script>
  <script type="text/javascript" src="{{ asset('lib/javascripts/jquery.bootstrap.wizard.min.js') }}"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      /**
       * "Choose a Parent Record" form
       * If the enter key is pressed before the dropdown populates, prevent the form from submitting.
       */
      $('form[name="uploads_parent_picker_form"]').submit(function(e){
        e.preventDefault();
      });

      /**
       * Browse Ingests tab click handler
       * (navigate to the Browse Ingest page)
       */
      $('#browse-tab').on('click', function(e) {
        window.location.href = '/admin/ingest';
      });

      /**
       * Bulk Ingest tab click handler
       * (navigate to the Bulk Ingest page)
       */
      $('#bulk-ingest-tab').on('click', function(e) {
        window.location.href = '/admin/bulk_ingest';
      });
    });

    var dropzoneUrl = "{{ oneup_uploader_endpoint('repository') }}",
        acceptedFiles = "{{ accepted_file_types }}";
  </script>
  <script type="text/javascript" src="{{ asset('lib/javascripts/ingest.js') }}"></script>
{% endblock %}