{% extends 'default_bootstrap_admin.html.twig' %}

{% block content %}

  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="alert alert-warning" role="alert">
          TODO: Fix the back button - hardwire to go to the parent Capture Data Element - e.g. /admin/projects/dataset_element/19/49/21/27/31
      </div>
      <div class="form-group">
        <a href="{{ app.request.headers.get('referer')|default('/admin/workspace/') }}" class="btn btn-default" role="button"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back</a>
      </div>
    </div>
  </div>

  {{ form_start(form) }} {# , {'attr': {'novalidate': 'novalidate'}} #}

    <div class="row">
      <div class="col-sm-6 col-md-6">
        {{ form_row(form.capture_data_file_name) }}
        {{ form_row(form.capture_data_file_type) }}
        {{ form_row(form.is_compressed_multiple_files) }}
      </div>
      <div class="col-sm-6 col-md-6">
        <!-- placeholder -->
      </div>
    </div>

    <div class="field-group" style="clear:both;">
      {{ form_row(form.save) }}
    </div>

  {{ form_end(form) }}

{% endblock %}
