{% extends 'default_bootstrap_admin.html.twig' %}

{% block content %}

  <ol class="breadcrumb">
    <li><a href="/admin">Dashboard</a></li>
    <li><a href="/admin/workspace">Browse Projects</a></li>
    <li><strong>Project:</strong> <a href="/admin/projects/subjects/{{ projects_id }}">{{ project_data.project_name|e }}</a></li>
    <li><strong>Subject:</strong> <a href="/admin/projects/items/{{ projects_id }}/{{ subjects_id }}">{{ subject_data.subject_name|e }}</a></li>
    <li><strong>Item:</strong> <a href="/admin/projects/datasets/{{ projects_id }}/{{ subjects_id }}/{{ items_id }}">{{ item_data.item_description_truncated|e }}</a></li>
    <li><strong>Dataset:</strong> <a href="/admin/projects/dataset_elements/{{ projects_id }}/{{ subjects_id }}/{{ items_id }}/{{ datasets_id }}">{{ dataset_data.capture_dataset_name|e }}</a></li>
    <li class="active">{% if dataset_element_data.capture_sequence_number is defined %}<strong>Dataset Element:</strong> {{ dataset_element_data.capture_sequence_number|e }}{% else %}Add a New Dataset Element{% endif %}</li>
  </ol>

  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="form-group">
        <a href="{{ app.request.headers.get('referer')|default('/admin/workspace/') }}" class="btn btn-default" role="button"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back</a>
      </div>
    </div>
  </div>

  {{ form_start(form) }} {# , {'attr': {'novalidate': 'novalidate'}} #}

    <div class="row">
      <div class="col-sm-6 col-md-6">
        {{ form_row(form.capture_device_configuration_id) }}
        {{ form_row(form.capture_device_field_id) }}
        {{ form_row(form.capture_sequence_number) }}
      </div>
      <div class="col-sm-6 col-md-6">
        {{ form_row(form.cluster_position_field_id) }}
        {{ form_row(form.position_in_cluster_field_id) }}
      </div>
    </div>

    <div class="field-group" style="clear:both;">
      {{ form_row(form.save) }}
    </div>

  {{ form_end(form) }}

{% endblock %}
