{% extends 'default_bootstrap_admin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% if dataset_element_data.capture_data_element_repository_id is defined %}
        <link href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.bootstrap.min.css" rel="stylesheet" type="text/css" />
    {% endif %}
{% endblock %}

{% block content %}

    {# {{ dump() }} #}

    <ol class="breadcrumb">
        <li><a href="/admin">Dashboard</a></li>
        <li><a href="/admin/workspace">Browse Projects</a></li>
        <li><strong>Project:</strong> <a href="/admin/projects/subjects/{{ project_repository_id }}">{{ project_data.project_name|e }}</a></li>
        <li><strong>Subject:</strong> <a href="/admin/projects/items/{{ project_repository_id }}/{{ subject_repository_id }}">{{ subject_data.subject_name|e }}</a></li>
        <li><strong>Item:</strong> <a href="/admin/projects/datasets/{{ project_repository_id }}/{{ subject_repository_id }}/{{ item_repository_id }}">{{ item_data.item_description_truncated|e }}</a></li>
        <li><strong>Dataset:</strong> <a href="/admin/projects/dataset_elements/{{ project_repository_id }}/{{ subject_repository_id }}/{{ item_repository_id }}/{{ capture_dataset_repository_id }}">{{ dataset_data.capture_dataset_name|e }}</a></li>
        <li class="active">{% if dataset_element_data.capture_sequence_number is defined %}<strong>Dataset Element:</strong> {{ dataset_element_data.capture_sequence_number|e }}{% else %}Add a New Dataset Element{% endif %}</li>
    </ol>

    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="form-group">
                <a href="{{ app.request.headers.get('referer')|default('/admin/workspace/') }}" class="btn btn-default" role="button"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back</a>
            </div>
        </div>
    </div>

    {{ form_start(form) }} {# , {'attr': {'novalidate': 'novalidate'}} #}

    <div class="row">
        <div class="col-sm-6 col-md-6">
            {{ form_row(form.capture_device_configuration_id) }}
            {{ form_row(form.capture_device_field_id) }}
            {{ form_row(form.capture_sequence_number) }}
        </div>
        <div class="col-sm-6 col-md-6">
            {{ form_row(form.cluster_position_field_id) }}
            {{ form_row(form.position_in_cluster_field_id) }}
        </div>
    </div>

    <div class="field-group" style="clear:both;">
        {{ form_row(form.save) }}
    </div>

    {{ form_end(form) }}

    {% if dataset_element_data.capture_data_element_repository_id is defined %}
        <div class="row">
            <div class="col-sm-12 col-md-12 child-data">

                <div class="panel panel-default">
                    <div class="panel-body">
                        <h2>Capture Data Files</h2>
                        <table id="browse_capture_data_files" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th style="padding-left: 8px;"><input id="remove-records-checkbox" type="checkbox"> Remove?</th>
                                <th class="text-center">Capture Data File Name</th>
                                <th class="text-center">Capture Data File Type</th>
                                <th class="text-center">Is Compressed Multiple Files</th>
                                <th class="text-center">Last Modified</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <h2>Capture Devices</h2>
                        <table id="browse_capture_devices" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th style="padding-left: 8px;"><input id="remove-records-checkbox" type="checkbox"> Remove?</th>
                                <th class="text-center">Calibration File</th>
                                <th class="text-center">Capture Device Component IDs</th>
                                <th class="text-center">Last Modified</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    {% endif %}

{% endblock %}
{% block js_bottom %}
    {{ parent() }}
    {% if dataset_element_data.capture_data_element_repository_id is defined %}
        <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.bootstrap.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.colVis.min.js"></script>
        <script type="text/javascript">
          $(document).ready(function() {
            var capture_data_element_repository_id =  "{{ dataset_element_data.capture_data_element_repository_id }}";
            $('#browse_capture_data_files').dataTable( {
              "columns": [
                { "data": "manage" },
                { "data": "capture_data_file_name" },
                { "data": "capture_data_file_type" },
                { "data": "is_compressed_multiple_files" },
                { "data": "last_modified" }
              ],
              "dom": 'lfip<"datatables_bulk_actions">tip',
              "pagingType": "simple_numbers",
              "stateSave": true,
              "order": [[4,"desc"]],
              // Show processing throbber.
              "processing": true,
              "serverMethod": "POST",
              // All data management will be done on the server side.
              "serverSide": true,
              // Path to the file that is going to handle the queries.
              "ajax": {
                "url": "/admin/projects/capture_data_files/datatables_browse",
                "data": {
                  "parent_id": capture_data_element_repository_id
                }
              },
              // Method type.
              "serverMethod": "POST",
              // Values in the length dropdown.
              "lengthMenu":[10,50,100,500],
              // Set some widths.
              "aoColumnDefs":[
                {"sWidth":"106px","aTargets":[0]},
                {"bSortable":false,"aTargets":[0]},
              ],
              "fnRowCallback":function(nRow, aData, iDisplayIndex) {

                // This table row.
                var thisTableRow = $(nRow);
                // Create the delete record checkboxes.
                thisTableRow.find('td:eq(0)')
                  .html("<input type='checkbox' name='manage_checkbox' value='" + aData['manage'] + "' />")
                  .addClass("manage_column");
                // Send to details page when clicked.
                thisTableRow.find('td').click(function() {
                  // This table cell.
                  var thisTableCell = $(this);
                  // Don't do anything if the table cell has the 'manage_column' CSS class.
                  if(thisTableCell.hasClass('manage_column')) return;
                  // Send to the details page.
                  var this_id = thisTableCell.closest("tr").attr('id');
                  window.location.href = '/admin/projects/capture_data_files/manage' + '/' + capture_data_element_repository_id + '/' + this_id;
                });
              }
            });
            var capture_data_file_add_button = $('<a />')
              .addClass('btn btn-default add-record-button')
              .attr('href', '/admin/projects/capture_data_files/manage/' + capture_data_element_repository_id)
              .html('<span class="glyphicon glyphicon-plus"></span> Add a Capture Data File');
            $('#browse_capture_data_files_wrapper').find('.datatables_bulk_actions').append(capture_data_file_add_button);
            $('#browse_capture_devices').dataTable( {
              "columns": [
                { "data": "manage" },
                { "data": "calibration_file" },
                { "data": "capture_device_component_ids" },
                { "data": "last_modified" }
              ],
              "dom": 'lfip<"datatables_bulk_actions">tip',
              "pagingType": "simple_numbers",
              "stateSave": true,
              "order": [[3,"desc"]],
              // Show processing throbber.
              "processing": true,
              "serverMethod": "POST",
              // All data management will be done on the server side.
              "serverSide": true,
              // Path to the file that is going to handle the queries.
              "ajax": {
                "url": "/admin/projects/capture_device/datatables_browse",
                "data": {
                  "parent_id": capture_data_element_repository_id
                }
              },
              // Method type.
              "serverMethod": "POST",
              // Values in the length dropdown.
              "lengthMenu":[10,50,100,500],
              // Set some widths.
              "aoColumnDefs":[
                {"sWidth":"106px","aTargets":[0]},
                {"bSortable":false,"aTargets":[0]},
              ],
              "fnRowCallback":function(nRow, aData, iDisplayIndex) {

                // This table row.
                var thisTableRow = $(nRow);
                // Create the delete record checkboxes.
                thisTableRow.find('td:eq(0)')
                  .html("<input type='checkbox' name='manage_checkbox' value='" + aData['manage'] + "' />")
                  .addClass("manage_column");
                // Send to details page when clicked.
                thisTableRow.find('td').click(function() {
                  // This table cell.
                  var thisTableCell = $(this);
                  // Don't do anything if the table cell has the 'manage_column' CSS class.
                  if(thisTableCell.hasClass('manage_column')) return;
                  // Send to the details page.
                  var this_id = thisTableCell.closest("tr").attr('id');
                  window.location.href = '/admin/projects/capture_device/manage' + '/' + capture_data_element_repository_id + '/' + this_id;
                });
              }
            });
            var capture_device_add_button = $('<a />')
              .addClass('btn btn-default add-record-button')
              .attr('href', '/admin/projects/capture_device/manage/' + capture_data_element_repository_id)
              .html('<span class="glyphicon glyphicon-plus"></span> Add a Capture Device');
            $('#browse_capture_devices_wrapper').find('.datatables_bulk_actions').append(capture_device_add_button);
          });
        </script>
    {% endif %}
{% endblock %}
