{% extends 'default_bootstrap_admin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% if dataset_element_data.capture_data_element_id is defined %}
        <link href="{{ asset('lib/javascripts/datatables/css/dataTables.bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('lib/javascripts/buttons/css/buttons.bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
    {% endif %}
{% endblock %}

{% block content %}

    {# {{ dump() }} #}

    <ol class="breadcrumb">
        <li><a href="/admin">Dashboard</a></li>
        <li><a href="/admin/workspace">Browse Projects</a></li>
        <li><strong>Project:</strong> <a href="/admin/project/view/{{ project_id }}">{{ project_data.project_name|e }}</a></li>
        <li><strong>Item:</strong> <a href="/admin/item/view/{{ item_id }}">{{ item_data.item_description_truncated|e }}</a></li>
        <li><strong>Capture Dataset:</strong> <a href="/admin/capture_dataset/view/{{ capture_dataset_id }}">{{ dataset_data.capture_dataset_name|e }}</a></li>
        <li class="active">{% if dataset_element_data.capture_sequence_number is defined %}<strong>Capture Data Element:</strong> {{ dataset_element_data.capture_sequence_number|e }}{% else %}Add a Capture Data Element{% endif %}</li>
    </ol>

    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="form-group">
                <a href="{{ app.request.headers.get('referer')|default('/admin/workspace/') }}" class="btn btn-default" role="button"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back</a>
            </div>
        </div>
    </div>

    <div class="hidden">
      {{ form_start(form) }} {# , {'attr': {'novalidate': 'novalidate'}} #}

      <div class="row">
          <div class="col-sm-6 col-md-6">
              {{ form_row(form.capture_device_configuration_id) }}
              {{ form_row(form.capture_device_field_id) }}
              {{ form_row(form.capture_sequence_number) }}
          </div>
          <div class="col-sm-6 col-md-6">
              {{ form_row(form.cluster_position_field_id) }}
              {{ form_row(form.position_in_cluster_field_id) }}
          </div>
      </div>

      <div class="field-group" style="clear:both;">
          {{ form_row(form.save) }}
      </div>

      {{ form_end(form) }}
    </div>

    {% if dataset_element_data.capture_data_element_id is defined %}
        <div class="row">
            <div class="col-sm-12 col-md-12 child-data">

                <div class="panel panel-default">
                    <div class="panel-body">
                        <h2>Capture Data Files</h2>
                        <input type="hidden" id="delete-path" value="admin/capture_data_file/delete" />
                        <table id="browse_capture_data_files" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th style="padding-left: 8px;"><input class="remove-records-checkbox" title="remove-records-checkbox" type="checkbox"> Remove?</th>
                                <th class="text-center">Preview</th>
                                <th class="text-center">Capture Data File Name</th>
                                <th class="text-center">Capture Data File Type</th>
                                <th class="text-center">Is Compressed Multiple Files</th>
                                <th class="text-center">EXIF Filename</th>
                                <th class="text-center">EXIF File Size</th>
                                <th class="text-center">EXIF File Timestamp</th>
                                <th class="text-center">EXIF Height</th>
                                <th class="text-center">EXIF Width</th>
                                <th class="text-center">EXIF Aperture</th>
                                <th class="text-center">EXIF Camera Make</th>
                                <th class="text-center">EXIF Camera Model</th>
                                <th class="text-center">EXIF Timestamp</th>
                                <th class="text-center">EXIF Original Timestamp</th>
                                <th class="text-center">EXIF Digitized Timestamp</th>
                                <th class="text-center">EXIF Exposure</th>
                                <th class="text-center">EXIF Focal Length</th>
                                <th class="text-center">EXIF ISO Speed</th>
                                <th class="text-center">EXIF Camera Serial</th>
                                <th class="text-center">EXIF Lens Model</th>
                                <th class="text-center">EXIF Lens Serial</th>
                                <th class="text-center">Last Modified</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <h2>Capture Devices</h2>
                        <input type="hidden" id="delete-path" value="admin/capture_device/delete" />
                        <table id="browse_capture_devices" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th style="padding-left: 8px;"><input class="remove-records-checkbox" title="remove-records-checkbox" type="checkbox"> Remove?</th>
                                <th class="text-center">Calibration File</th>
                                <th class="text-center">Last Modified</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    {% endif %}

{% endblock %}
{% block js_bottom %}
    {{ parent() }}
    {% if dataset_element_data.capture_data_element_id is defined %}
        <script src="{{ asset('lib/javascripts/datatables/js/jquery.dataTables.min.js') }}"></script>
        <script src="{{ asset('lib/javascripts/datatables/js/dataTables.buttons.min.js') }}"></script>
        <script src="{{ asset('lib/javascripts/datatables/js/dataTables.bootstrap.min.js') }}"></script>
        <script src="{{ asset('lib/javascripts/buttons/js/buttons.bootstrap.min.js') }}"></script>
        <script src="{{ asset('lib/javascripts/buttons/js/buttons.colVis.min.js') }}"></script>
        <!-- The following Javascript is needed for download CSV, download Excel, and print capabilities -->
        <script src="{{ asset('lib/javascripts/buttons/js/buttons.flash.min.js') }}"></script>
        <script src="{{ asset('lib/javascripts/datatables/js/jszip.min.js') }}"></script>
        <script src="{{ asset('lib/javascripts/pdfmake/js/vfs_fonts.js') }}"></script>
        <script src="{{ asset('lib/javascripts/buttons/js/buttons.html5.min.js') }}"></script>
        <script src="{{ asset('lib/javascripts/buttons/js/buttons.print.min.js') }}"></script>
        <script type="text/javascript">
          $(document).ready(function() {
            var capture_data_element_id =  "{{ dataset_element_data.capture_data_element_id }}";
            $('#browse_capture_data_files').dataTable( {
              "columns": [
                { "data": "manage" },
                { "data": "thumb_file_path",
                  "render": function ( data, type, row, meta ) {
                    //@todo use a class instead of hard-coded width
                    if(data) {
                      return '<img alt="thumbnail" src="/admin/get_file?path=' + data + '" width="120px" />';
                    }
                    else {
                      return '';
                    }
                  }
                },
                { "data": "capture_data_file_name" },
                { "data": "capture_data_file_type" },
                { "data": "is_compressed_multiple_files" },
                { "data": "exif_filename" },
                { "data": "exif_file_size" },
                { "data": "exif_file_timestamp" },
                { "data": "exif_height" },
                { "data": "exif_width" },
                { "data": "exif_aperture" },
                { "data": "exif_camera_make" },
                { "data": "exif_camera_model" },
                { "data": "exif_timestamp" },
                { "data": "exif_original_timestamp" },
                { "data": "exif_digitized_timestamp" },
                { "data": "exif_exposure" },
                { "data": "exif_focal_length" },
                { "data": "exif_iso_speed" },
                { "data": "exif_camera_serial" },
                { "data": "exif_lens_model" },
                { "data": "exif_lens_serial" },
                { "data": "last_modified" }
              ],
              "dom": 'lfip<"datatables_bulk_actions"B>tip',
              "pagingType": "simple_numbers",
              "stateSave": true,
              "order": [[1,"asc"]],
              // Show processing throbber.
              "processing": true,
              "serverMethod": "POST",
              // All data management will be done on the server side.
              "serverSide": true,
              // Path to the file that is going to handle the queries.
              "ajax": {
                "url": "/admin/datatables_browse_capture_data_files",
                "data": {
                  "parent_id": capture_data_element_id
                }
              },
              // Method type.
              "serverMethod": "POST",
              // Values in the length dropdown.
              "lengthMenu":[10,50,100,500],
              // Set some widths.
              "aoColumnDefs":[
                {
                  "targets": [ 0 ],
                  "sWidth": '106px',
                  "bSortable": false
                },
                {
                  "targets": [ 1, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20 ],
                  "bSortable": false
                },
                {
                  "targets": [ 4, 5, 6, 10, 13, 14, 15, 16, 17, 18, 19, 20, 21 ],
                  "visible": false,
                }
              ],
              "fnRowCallback":function(nRow, aData, iDisplayIndex) {

                // This table row.
                var thisTableRow = $(nRow);
                // Create the delete record checkboxes.
                thisTableRow.find('td:eq(0)')
                  .html("<input type='checkbox' title='manage_checkbox' name='manage_checkbox' value='" + aData['manage'] + "' />")
                  .addClass("manage_column");
                // Send to details page when clicked.
                thisTableRow.find('td').click(function() {
                  // This table cell.
                  var thisTableCell = $(this);
                  // Don't do anything if the table cell has the 'manage_column' CSS class.
                  if(thisTableCell.hasClass('manage_column')) return;
                  // Send to the details page.
                  var this_id = thisTableCell.closest("tr").attr('id');
                  window.location.href = '/admin/capture_data_file/manage' + '/' + this_id;
                });
              },
              buttons: [
                {
                  extend: 'colvis',
                  postfixButtons: [ 'colvisRestore' ]
                }
              ]
            });

            {% if user_can_create %}
              var capture_data_file_add_button = $('<a />')
                .addClass('btn btn-default add-record-button')
                .attr('href', '/admin/capture_data_file/add/' + capture_data_element_id)
                .html('<span class="glyphicon glyphicon-plus"></span> Add a Capture Data File');
              $('#browse_capture_data_files_wrapper').find('.datatables_bulk_actions').append(capture_data_file_add_button);
            {% endif %}

            $('#browse_capture_devices').dataTable( {
              "columns": [
                { "data": "manage" },
                { "data": "calibration_file" },
                { "data": "last_modified" }
              ],
              "dom": 'lfip<"datatables_bulk_actions">tip',
              buttons: [
                'csv', 'excel', 'print',
                {
                  extend: 'colvis',
                  postfixButtons: [ 'colvisRestore' ]
                }
              ],
              "pagingType": "simple_numbers",
              "stateSave": true,
              "order": [[2,"desc"]],
              // Show processing throbber.
              "processing": true,
              "serverMethod": "POST",
              // All data management will be done on the server side.
              "serverSide": true,
              // Path to the file that is going to handle the queries.
              "ajax": {
                "url": "/admin/datatables_browse_capture_device",
                "data": {
                  "parent_id": capture_data_element_id
                }
              },
              // Method type.
              "serverMethod": "POST",
              // Values in the length dropdown.
              "lengthMenu":[10,50,100,500],
              // Set some widths.
              "aoColumnDefs":[
                {"sWidth":"106px","aTargets":[0]},
                {"bSortable":false,"aTargets":[0]},
              ],
              "fnRowCallback":function(nRow, aData, iDisplayIndex) {

                // This table row.
                var thisTableRow = $(nRow);
                // Create the delete record checkboxes.
                thisTableRow.find('td:eq(0)')
                  .html("<input type='checkbox' title='manage_checkbox' name='manage_checkbox' value='" + aData['manage'] + "' />")
                  .addClass("manage_column");
                // Send to details page when clicked.
                thisTableRow.find('td').click(function() {
                  // This table cell.
                  var thisTableCell = $(this);
                  // Don't do anything if the table cell has the 'manage_column' CSS class.
                  if(thisTableCell.hasClass('manage_column')) return;
                  // Send to the details page.
                  var this_id = thisTableCell.closest("tr").attr('id');
                  window.location.href = '/admin/capture_device/manage/' + this_id;
                });
              }
            });

            {% if user_can_create %}
              var capture_device_add_button = $('<a />')
                .addClass('btn btn-default add-record-button')
                .attr('href', '/admin/capture_device/add/' + capture_data_element_id)
                .html('<span class="glyphicon glyphicon-plus"></span> Add a Capture Device');
              $('#browse_capture_devices_wrapper').find('.datatables_bulk_actions').append(capture_device_add_button);
            {% endif %}
          });
        </script>
    {% endif %}
{% endblock %}